<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--9">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/278068.phtml" target="_blank">
                <text class="text " transform="rotate(-46.871 1584.315278 -1893.3977373)">
                    <tspan x="0" y="14.9588">Ttarget</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1881.42 574.881-433.3 461.879-119.84 115.79" class="p"/>
                <path d="m1879.38 572.301-.68.731 4.75 4.461.69-.731-4.76-4.461Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-54.37 1373.948176 -1505.5617325)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1797.47 505.652 1426.58 1018.9l-98.3 133.65" class="p"/>
                <path d="m1795.18 503.425-.59.813 5.28 3.82.59-.813-5.28-3.82Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-51.175 1453.7619037 -1655.1052909)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1832.1 532.055-396.69 493.735-107.13 126.76" class="p"/>
                <path d="m1829.86 529.593-.62.782 5.08 4.084.63-.782-5.09-4.084Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text  js--company" transform="rotate(-49.768 1494.8894206 -1728.8719151)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1848.91 545.909 1439.69 1029.4l-111.41 123.15" class="p"/>
                <path d="m1846.79 543.516-.65.766 4.98 4.213.64-.766-4.97-4.213Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/320715.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-44.135 1683.5300166 -2067.9213274)">
                    <tspan x="0" y="14.9588">One Target</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1912.41 605.477-455.96 438.813c-.28.26-.55.51-.83.75l-127.33 107.5" class="p"/>
                <path d="m1910.46 602.666-.72.696 4.52 4.698.73-.695-4.53-4.699Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/270401.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-52.597 1414.1741203 -1585.3106455)">
                    <tspan x="0" y="14.9588">SlickJump</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1814.96 518.633-383.91 503.627-102.77 130.29" class="p"/>
                <path d="m1812.74 516.377-.61.798 5.18 3.953.61-.798-5.18-3.953Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274722.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-45.337 1636.0130853 -1987.4968272)">
                    <tspan x="0" y="14.9588">Одноклассники</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1897.11 589.978-444.79 450.502c-.23.23-.46.46-.7.67l-123.33 111.39" class="p"/>
                <path d="m1895.15 587.369-.7.714 4.64 4.582.7-.714-4.64-4.582Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305397.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-48.686 1532.9421655 -1790.1295241)">
                    <tspan x="0" y="14.9588">Natiscope</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1865.35 560.184-421.49 472.946-115.58 119.42" class="p"/>
                <path d="m1863.25 557.649-.67.749 4.87 4.339.67-.749-4.87-4.339Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-54.795 1348.8819019 -1477.5642532)">
                    <tspan x="0" y="14.9588">РСЯ</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1779.66 493.122-357.75 522.658m0 0-93.64 136.76" class="p"/>
                <path d="m1777.24 490.865-.57.828 5.38 3.683.57-.828-5.38-3.683Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1592.18" y="1443.36">Сети нативной видеорекламы</tspan>
        </text>
        <g class="root js--root">
            <path d="M1328.27 1152.54c-1.95 2.83-2.98 6.2-2.98 9.64m0 0v259.54m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h237.88"
                  class="p"/>
            <path d="M1580.1 1441.42c1.45 0 2.63-1.18 2.63-2.64 0-1.46-1.18-2.64-2.63-2.64-1.46 0-2.64 1.18-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
