<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--8">
        <g class="legend">
            <a href="https://moe.video/" target="_blank">
                <text class="text " transform="rotate(-61.51 1114.9678332 -1383.0828657)">
                    <tspan x="0" y="14.9588">Moe Video</tspan>
                </text>
            </a>
            <a href="https://punchmedia.ru/" target="_blank">
                <text class="text " transform="rotate(-59.892 1145.0705563 -1446.5077688)">
                    <tspan x="0" y="14.9588">Punch Media Group</tspan>
                </text>
            </a>
            <a href="https://xaprio.com/" target="_blank">
                <text class="text " transform="rotate(-58.51 1175.57098 -1505.8788266)">
                    <tspan x="0" y="14.9588">Xaprio by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m1800.53 272.736-13.32 24.507c7.66 4.173 15.26 8.447 22.79 12.811" stroke="#E40521"/>
                <path d="m1797.84 270.664-.48.881 5.73 3.115.48-.882-5.73-3.114Z" fill="#E40521"/>
                <path d="M1823.96 285.867 1810 310.043" stroke="#E40521"/>
                <path d="m1821.34 283.766-.5.869 5.65 3.26.5-.869-5.65-3.26Z" fill="#E40521"/>
                <path d="m1847.05 299.59-14.59 23.846c-7.42-4.555-14.91-9.019-22.46-13.383" stroke="#E40521"/>
                <path d="m1844.46 297.385-.52.856 5.56 3.403.52-.855-5.56-3.404Z" fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-61.34 1215.408222 -1220.4389543)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1705.39 447.679-302.15 555.641m0 .01c-.18.33-.37.65-.58.97m0 0-86.52 136.69" class="p"/>
                <path d="m1702.71 445.602-.48.882 5.73 3.114.48-.881-5.73-3.115Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-63.137 1183.9258803 -1159.4827258)">
                    <tspan x="0" y="14.9588">Vox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1140.99 81.61-139.34m0 0c.16-.28.32-.57.47-.85m0 0 287.91-563.283" class="p"/>
                <path d="m1683.35 435.473-.46.893 5.81 2.967.46-.893-5.81-2.967Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/270401.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-58.467 1275.488465 -1329.8865049)">
                    <tspan x="0" y="14.9588">SlickJump</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1743.11 469.457 1413 1008.92m0 0c-.25.41-.51.81-.8 1.2m-.01 0-96.05 130.89" class="p"/>
                <path d="m1740.54 467.246-.52.856 5.56 3.403.52-.856-5.56-3.403Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305390.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-64.205 1159.2837322 -1119.8252325)">
                    <tspan x="0" y="14.9588">Digital Alliance</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1666.62 427.856-273.68 570.965m0 0L1316.14 1141" class="p"/>
                <path d="m1663.78 425.88-.43.904 5.88 2.818.43-.905-5.88-2.817Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/165927.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-65.441 1134.0112048 -1077.8796473)">
                    <tspan x="0" y="14.9588">Yabbi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141 71.75-144.617m0 0 258.98-577.686" class="p"/>
                <path d="m1644.17 416.993-.41.916 5.95 2.667.41-.915-5.95-2.668Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274730.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-59.806 1245.3399442 -1276.472406)">
                    <tspan x="0" y="14.9588">Redllama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141.01 91.29-133.79m0 0c.24-.35.47-.72.68-1.09m0 0 316.27-547.788" class="p"/>
                <path d="m1721.78 456.209-.5.869 5.65 3.26.5-.869-5.65-3.26Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-72.752 1032.0790612 -873.922217)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1565.7 387.187-198.82 601.441m0 0-50.74 152.382" class="p"/>
                <path d="m1562.74 385.664-.32.953 6.19 2.046.32-.952-6.19-2.047Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-67.185 1107.5878618 -1025.2482269)">
                    <tspan x="0" y="14.9588">СберСеллер</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1626.88 410.05 1382.7 994.256 1316.14 1141" class="p"/>
                <path d="m1623.99 408.244-.39.926 6.02 2.514.38-.926-6.01-2.514Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-68.518 1083.5595744 -983.5227493)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1606.68 401.904-229.33 590.647m0 0L1316.14 1141" class="p"/>
                <path d="m1603.81 400.241-.36.935 6.07 2.36.37-.935-6.08-2.36Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274646.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-70.372 1058.852673 -932.1102995)">
                    <tspan x="0" y="14.9588">Bidease</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141 56.07-150.676m0 0 214.08-596.044" class="p"/>
                <path d="m1583.49 392.807-.34.944 6.14 2.205.34-.944-6.14-2.205Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1440.48" y="1504.05">Premium Networks</tspan>
        </text>
        <g class="root js--root">
            <path d="M1316.14 1141.01c-.58 1.74-.87 3.56-.87 5.39m0 0v335.54m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h97.34"
                  class="p"/>
            <path d="M1429.53 1501.65c1.46 0 2.64-1.18 2.64-2.64 0-1.46-1.18-2.64-2.64-2.64-1.46 0-2.64 1.18-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
