<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--4">
        <text class="root_title js--root">
            <tspan x="854.627" y="1443.37">Optimization Tools</tspan>
        </text>
        <g class="root js--root">
            <path d="M1272.54 1152.77c1.68 2.7 2.57 5.82 2.57 9m0 0v259.95m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-242.09"
                  class="p"/>
            <path d="M1016.09 1436.14c-1.45 0-2.64 1.19-2.64 2.64 0 1.46 1.19 2.64 2.64 2.64 1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.64-2.64-2.64Z"
                  class="e"/>
        </g>
        <g class="legend">
            <a href="https://centra.ai/" target="_blank">
                <text class="text" transform="rotate(50.296 -65.5981208 794.7694675)">
                    <tspan x="0" y="14.9588">Centra</tspan>
                </text>
            </a>
            <a href="https://solta.io/" target="_blank">
                <text class="text" transform="rotate(51.514 -34.1270924 802.5312162)">
                    <tspan x="0" y="14.9588">Solta</tspan>
                </text>
            </a>
            <a href="https://xerxes.media/" target="_blank">
                <text class="text" transform="rotate(51.07 35.9148302 726.4173213)">
                    <tspan x="0" y="14.9588">Xerxes by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m656.918 398.673-17.556-21.859" stroke="#E40521"/>
                <path d="m641.586 374.399-5.084 4.084.629.782 5.083-4.084-.628-.782Z" fill="#E40521"/>
                <path d="m618.636 393.908 18.128 21.418c13.292-11.266 26.885-22.191 40.748-32.774l-16.993-22.29"
                      stroke="#E40521"/>
                <path d="m620.796 391.493-4.977 4.213.648.765 4.977-4.212-.648-.766Zm42.005-33.627-5.185 3.954.608.797 5.186-3.953-.609-.798Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://lewel.tech/" target="_blank">
                <text class="text js--company" transform="rotate(58.654 48.4283664 945.8440519)">
                    <tspan x="0" y="14.9588">Levvel</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m853.088 469.457 330.602 540.283m0 0 88.85 143.03" class="p"/>
                <path d="m855.605 467.319-5.562 3.403.524.856 5.562-3.404-.524-.855Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text js--company" transform="rotate(51.335 -113.849529 968.9770953)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m764.086 532.055 396.654 493.685 111.75 127" class="p"/>
                <path d="m766.317 529.644-5.083 4.084.628.782 5.083-4.084-.628-.782Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274682.phtml" target="_blank">
                <text class="text js--company" transform="rotate(51.348 -116.1393634 1033.2492116)">
                    <tspan x="0" y="14.9588">K50</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m781.231 518.632 383.989 503.738 107.27 130.37" class="p"/>
                <path d="m783.526 516.177-5.185 3.953.608.798 5.185-3.953-.608-.798Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/90791.phtml" target="_blank">
                <text class="text js--company" transform="rotate(50.352 -164.027106 1008.593451)">
                    <tspan x="0" y="14.9588">eLama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m747.283 545.909 409.287 483.561 115.92 123.27" class="p"/>
                <path d="m749.441 543.512-4.977 4.212.648.766 4.977-4.212-.648-.766Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/d97501.phtml" target="_blank">
                <text class="text js--company" transform="rotate(54.072 -49.9483048 973.558877)">
                    <tspan x="0" y="14.9588">Click.ru</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m798.716 505.652 370.934 513.298 102.84 133.79" class="p"/>
                <path d="m801.053 503.437-5.285 3.819.588.813 5.285-3.819-.588-.813Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315133.phtml" target="_blank">
                <text class="text js--company" transform="rotate(48.314 -205.904185 1008.841902)">
                    <tspan x="0" y="14.9588">Tamburin</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m730.852 560.185 421.098 472.505c.23.25.46.5.7.74l119.85 119.3" class="p"/>
                <path d="m732.946 557.676-4.868 4.338.667.749 4.868-4.338-.667-.749Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296870.phtml" target="_blank">
                <text class="text js--company" transform="rotate(55.325 -9.1764023 950.83912)">
                    <tspan x="0" y="14.9588">Admon.ai</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m816.532 493.122 357.748 522.668m0 0 98.21 136.95" class="p"/>
                <path d="m818.939 490.876-5.381 3.683.566.828 5.381-3.683-.566-.828Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/307499.phtml" target="_blank">
                <text class="text js--company" transform="rotate(56.866 16.7778316 956.0047253)">
                    <tspan x="0" y="14.9588">Marilyn</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1272.49 1152.74-93.52-140.01m0 0L834.659 481.053" class="p"/>
                <path d="m837.133 478.81-5.473 3.544.545.842 5.473-3.544-.545-.842Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text js--company" transform="rotate(45.563 -216.328646 842.2159705)">
                    <tspan x="0" y="14.9588">Weborama Campaign Manager</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m699.091 589.978 444.739 450.452m0 0c.3.3.6.59.92.88m0-.01 127.74 111.44" class="p"/>
                <path d="m701.058 587.365-4.641 4.581.705.714 4.641-4.581-.705-.714Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adriver.ru/ " target="_blank">
                <text class="text js--company" transform="rotate(47.308 -249.660074 1026.7387567)">
                    <tspan x="0" y="14.9588">AdRiver</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1272.49 1152.74-123.85-115.42m0 0c-.28-.26-.55-.53-.81-.81m0 0L714.781 574.881" class="p"/>
                <path d="m716.809 572.38-4.755 4.461.686.732 4.756-4.462-.687-.731Z" class="e"/>
            </g>
        </g>
    </g>
</svg>
