<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--12">
        <g class="company js--company">
            <text class="text js--company"><tspan x="2163.61" y="1202.07">MediaHills</tspan></text>
            <g class="line">
                <path d="M2150.69 1196.69h-782.52" class="p"/>
                <path d="M2151.19 1193.43h-1v6.52h1v-6.52Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-1.807 38038.0132112 -68024.2743425)"><tspan x="0" y="14.9588">MyTracker</tspan></text>
            <g class="line">
                <path d="m2150.41 1174.92-632.96 16.17-149.28 5.6" class="p"/>
                <path d="m2150.74 1171.79-1 .02.16 6.52 1.01-.02-.17-6.52Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-5.72 12075.7747034 -21063.3190438)"><tspan x="0" y="14.9588">Admon.ai</tspan></text>
            <g class="line">
                <path d="m2146.24 1109.73-629.86 64.58-148.21 22.38" class="p"/>
                <path d="m2146.3 1106.63-.99.11.66 6.48 1-.1-.67-6.49Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-4.787 14489.1994338 -25293.180671)"><tspan x="0" y="14.9588">Adserving</tspan></text>
            <g class="line">
                <path d="M2148.18 1131.42 1517 1179.88l-148.83 16.81" class="p"/>
                <path d="m2148.44 1128.11-1 .08.5 6.5 1-.07-.5-6.51Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-3.028 22703.8636384 -40354.1714574)"><tspan x="0" y="14.9588">Adloox</tspan></text>
            <g class="line">
                <path d="m2149.58 1153.16-632.34 32.32-149.07 11.21" class="p"/>
                <path d="m2149.94 1149.83-1 .05.33 6.51 1.01-.05-.34-6.51Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-8.006 8773.377072 -14871.610926)"><tspan x="0" y="14.9588">AdRiver</tspan></text>
            <g class="line">
                <path d="m2143.74 1089.1-627.58 80.59c-.33.04-.67.1-1 .16l-146.99 27.85" class="p"/>
                <path d="m2143.74 1085.99-.99.12.83 6.47.99-.13-.83-6.46Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(-8.933 7832.4702785 -13253.6214634)"><tspan x="0" y="14.9588">Weborama</tspan></text>
            <g class="line">
                <path d="m2140.7 1066.54-625.09 96.56m0 0c-.39.06-.78.13-1.17.22m0 0-146.26 33.22" class="p"/>
                <path d="m2140.69 1063.27-.99.15.99 6.44.99-.15-.99-6.44Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <text class="text" transform="rotate(-4.267 15975.4221676 -32065.3482874)"><tspan x="0" y="14.9588">Digital Budget</tspan></text>
            <g class="legend_mark">
                <path d="m2417.94 1107.3-1 .08.49 6.5 1-.08-.49-6.5Zm-27.56 2.1-1 .07.49 6.5 1-.07-.49-6.5Z" fill="#E40521"/>
                <path d="m2417.66 1110.63-27.53 2.05" stroke="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root"><tspan x="2017.87" y="1322.78">Верификация</tspan></text>
        <g class="root js--root">
            <path d="M1368.18 1196.54c-7.52 1.95-12.75 8.18-12.75 15.95m0 0v88.78m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h634.02" class="p"/>
            <path d="M2006.36 1320.96c1.46 0 2.64-1.18 2.64-2.64 0-1.46-1.18-2.64-2.64-2.64-1.45 0-2.64 1.18-2.64 2.64 0 1.46 1.19 2.64 2.64 2.64Z" class="e"/>
        </g>
    </g>
</svg>
