<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--6">
        <g class="company js--company">
            <text class="text js--company" transform="rotate(82.337 443.8231436 798.3990788)"><tspan x="0" y="14.9588">Getblogger</tspan></text>
            <g class="line">
                <path d="m1178.72 352.497 88.64 626.812 27.86 150.531" class="p"/>
                <path d="m1181.88 351.52-6.45.914.14.993 6.45-.913-.14-.994Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(86.71 487.729473 790.568838)"><tspan x="0" y="14.9588">Где Слон?</tspan></text>
            <g class="line">
                <path d="m1243.69 345.837 40.4 631.746 11.13 152.257" class="p"/>
                <path d="m1246.91 345.141-6.51.416.06 1.001 6.51-.416-.06-1.001Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(83.53 445.3699906 812.8756283)"><tspan x="0" y="14.9588">CityAds</tspan></text>
            <g class="line">
                <path d="m1200.32 349.729 72.6 628.918 22.3 151.193" class="p"/>
                <path d="m1203.51 348.83-6.48.749.11.996 6.48-.748-.11-.997Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(85.009 484.4782357 783.2145122)"><tspan x="0" y="14.9588">CPAExchange</tspan></text>
            <g class="line">
                <path d="m1221.98 347.502 56.53 630.693 16.71 151.645" class="p"/>
                <path d="m1225.19 346.704-6.5.582.09.999 6.5-.582-.09-.999Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(77.444 374.2812956 834.8270189)"><tspan x="0" y="14.9588">Admitad</tspan></text>
            <g class="line">
                <path d="m1114.44 364.114 136.27 617.783c.09.421.2.833.33 1.244l44.17 146.699" class="p"/>
                <path d="m1117.48 363.039-6.36 1.403.21.98 6.37-1.404-.22-.979Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(90.943 546.995322 766.8325143)"><tspan x="0" y="14.9588">Callexchange</tspan></text>
            <g class="line">
                <path d="m1308.99 344.171-8.09 633.182m0 0-5.71 153.027" class="p"/>
                <path d="m1305.63 343.567-.02 1.003 6.52.083.02-1.003-6.52-.083Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(87.333 491.2170298 805.2921102)"><tspan x="0" y="14.9588">Rafinad</tspan></text>
            <g class="line">
                <path d="m1265.44 344.723 24.25 632.62m0 0 5.53 152.497" class="p"/>
                <path d="m1268.71 344.012-6.51.25.04 1.003 6.51-.25-.04-1.003Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(88.74 515.9862658 791.877938)"><tspan x="0" y="14.9588">Get4Click</tspan></text>
            <g class="line">
                <path d="m1295.22 1129.84.08-152.487m0 0-8.09-633.181" class="p"/>
                <path d="m1290.49 343.565-6.52.083.01 1.003 6.52-.083-.01-1.003Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(79.112 402.0951545 817.7871134)"><tspan x="0" y="14.9588">Perfluence</tspan></text>
            <g class="line">
                <path d="m1135.77 359.701 120.4 620.812m0 0c.07.361.15.712.24 1.073m0 0 38.81 148.254" class="p"/>
                <path d="m1138.9 358.536-6.4 1.242.19.985 6.4-1.242-.19-.985Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <text class="text js--company" transform="rotate(80.632 407.6658476 826.2543097)"><tspan x="0" y="14.9588">Otclick</tspan></text>
            <g class="line">
                <path d="m1295.22 1129.84-33.27-149.016m0 0c-.07-.301-.12-.602-.17-.903m0 0-104.57-624.103" class="p"/>
                <path d="m1160.31 354.861-6.43 1.077.17.99 6.43-1.078-.17-.989Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <text class="text" transform="rotate(80.27 546.1330234 667.1623636)"><tspan x="0" y="14.9588">Xerxes by Xapads</tspan></text>
            <text class="text" transform="rotate(79.205 490.9714952 708.9737326)"><tspan x="0" y="14.9588">Unicom</tspan></text>
            <g class="legend_mark">
                <path d="m1124.29 159.417 4.62 27.547c-8.62 1.435-17.19 2.98-25.74 4.625l-5.32-27.397" stroke="#E40521"/>
                <path d="m1127.41 158.45-6.43 1.077.16.989 6.44-1.077-.17-.989Zm-26.44 4.593-6.4 1.242.19.985 6.4-1.242-.19-.985Z" fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root"><tspan x="1013.11" y="1574.57">CPA-сети / партнерские сети</tspan></text>
        <g class="root js--root">
            <path d="M1295.19 1130.38v421.84m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-10.54" class="p"/>
            <path d="M1267.71 1571.91c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.63-2.64-2.63-1.46 0-2.64 1.18-2.64 2.63 0 1.46 1.18 2.64 2.64 2.64Z" class="e"/>
        </g>
    </g>
</svg>
