<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--2">
        <g class="legend">
            <a href="https://solta.io/" target="_blank">
                <text class="text" transform="rotate(25.182 -1432.428917 879.2611696)">
                    <tspan x="0" y="14.9588">Solta</tspan>
                </text>
            </a>
            <a href="https://programmatica.com/" target="_blank">
                <text class="text" transform="rotate(22.899 -1610.1512307 638.687364)">
                    <tspan x="0" y="14.9588">Programmatica.com</tspan>
                </text>
            </a>
            <a href="https://mobidriven.com/" target="_blank">
                <text class="text" transform="rotate(22.082 -1785.2857382 804.2701154)">
                    <tspan x="0" y="14.9588">Mobidriven</tspan>
                </text>
            </a>
            <a href="https://mediatoday.ru/" target="_blank">
                <text class="text" transform="rotate(20.562 -2008.3326829 807.072663)">
                    <tspan x="0" y="14.9588">Mediatoday</tspan>
                </text>
            </a>
            <a href="https://betweenx.ru/" target="_blank">
                <text class="text" transform="rotate(18.591 -2303.7324221 665.8591866)">
                    <tspan x="0" y="14.9588">Between Exchange</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m272.352 813.114-26.113-9.771" stroke="#E40521"/>
                <path d="m246.907 800.2-2.286 6.107.94.352 2.285-6.107-.939-.352Z" fill="#E40521"/>
                <path d="m282.464 787.021-25.792-10.413" stroke="#E40521"/>
                <path d="m257.425 773.328-2.441 6.047.931.376 2.44-6.047-.93-.376Z" fill="#E40521"/>
                <path d="m293.388 761.249-25.631-11.055" stroke="#E40521"/>
                <path d="m268.584 747.034-2.582 5.987.921.398 2.582-5.988-.921-.397Z" fill="#E40521"/>
                <path d="m279.815 723.791 25.02 11.878c-15.7 33.756-29.724 68.446-41.973 103.958l-26.414-9.229"
                      stroke="#E40521"/>
                <path d="m280.757 720.619-2.797 5.891.906.43 2.797-5.89-.906-.431Zm-43.702 106.498-2.15 6.155.947.331 2.15-6.155-.947-.331Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adriver.ru/" target="_blank">
                <text class="text js--company" transform="rotate(15.834 -3136.169589 1946.8191895)">
                    <tspan x="0" y="14.9588">AdRiver</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m478.935 960.289 608.515 175.601 159.65 42.51" class="p"/>
                <path d="m479.364 957.08-1.809 6.265.964.278 1.809-6.265-.964-.278Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text js--company" transform="rotate(17.434 -2772.1372773 1942.6839324)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M485.245 939.443 1089.1 1130.55l158 47.85" class="p"/>
                <path d="m485.729 936.098-1.968 6.216.957.303 1.967-6.217-.956-.302Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text js--company" transform="rotate(18.72 -2471.288706 1717.7721763)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m492.077 918.768 598.733 206.452 156.29 53.18" class="p"/>
                <path d="m492.657 915.471-2.126 6.165.949.327 2.125-6.165-.948-.327Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text js--company" transform="rotate(20.34 -2190.2861988 1660.2509202)">
                    <tspan x="0" y="14.9588">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m499.44 898.272 593.34 221.698 154.32 58.43" class="p"/>
                <path d="m500.113 895.15-2.282 6.108.939.351 2.283-6.108-.94-.351Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/75545.phtml" target="_blank">
                <text class="text js--company" transform="rotate(21.819 -1966.69182 1611.1158786)">
                    <tspan x="0" y="14.9588">Adfox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m507.315 877.979 587.495 236.781 152.29 63.64" class="p"/>
                <path d="m508.073 874.782-2.438 6.048.931.375 2.437-6.048-.93-.375Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/165927.phtml" target="_blank">
                <text class="text js--company" transform="rotate(22.79 -1819.3892656 1577.0243701)">
                    <tspan x="0" y="14.9588">Yabbi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m515.711 857.885 581.369 251.755 150.02 68.76" class="p"/>
                <path d="m516.562 854.807-2.592 5.983.92.399 2.592-5.984-.92-.398Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text js--company" transform="rotate(24.98 -1559.4558002 1397.1590767)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m524.62 838.015 574.52 266.415 147.96 73.97" class="p"/>
                <path d="m525.537 834.921-2.743 5.915.91.422 2.743-5.915-.91-.422Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/286132.phtml" target="_blank">
                <text class="text js--company" transform="rotate(26.215 -1408.8310887 1308.012419)">
                    <tspan x="0" y="14.9588">Hyper AdTech</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m534.04 818.382 567.34 280.908 145.72 79.11" class="p"/>
                <path d="m535.036 815.205-2.893 5.844.899.445 2.893-5.844-.899-.445Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/284707.phtml" target="_blank">
                <text class="text js--company" transform="rotate(27.57 -1273.2700843 1258.969912)">
                    <tspan x="0" y="14.9588">Билайн Adtech</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m543.95 798.989 560.2 295.421 142.95 83.99" class="p"/>
                <path d="m545.033 795.971-3.042 5.768.887.468 3.042-5.768-.887-.468Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315139.phtml" target="_blank">
                <text class="text js--company" transform="rotate(29.118 -1183.3796577 1383.0114987)">
                    <tspan x="0" y="14.9588">Vox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m554.353 779.858 551.997 309.362m0 0c.27.15.53.31.79.47" class="p"/>
                <path d="m555.507 776.8-3.188 5.688.875.491 3.189-5.688-.876-.491Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="331.71" y="1352.69">Управление размещением рекламы (крутилки)</tspan>
        </text>
        <g class="root js--root">
            <path d="m1107.14 1089.69 139.97 88.71m0 0c4.94 3.13 7.93 8.57 7.93 14.41m0 0v138.57m0 0c0 9.42-7.64 17.07-17.07 17.07m0 0H731.884"
                  class="p"/>
            <path d="M732.005 1351.07c1.457 0 2.638-1.18 2.638-2.63 0-1.46-1.181-2.64-2.638-2.64-1.457 0-2.638 1.18-2.638 2.64 0 1.45 1.181 2.63 2.638 2.63Z"
                  class="e"/>
        </g>
    </g>
</svg>
