<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--5">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text " transform="rotate(61.177 111.9615289 964.2757855)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m910.058 437.526 287.932 563.324c.21.4.43.8.66 1.18l85.79 139.25" class="p"/>
                <path d="m912.726 435.638-5.806 2.968.457.893 5.806-2.967-.457-.894Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(60.515 91.7460123 954.9150379)">
                    <tspan x="0" y="14.9588">РСЯ</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m890.797 447.678 302.083 555.532c.24.45.5.88.77 1.29l90.8 136.78" class="p"/>
                <path d="m893.439 445.591-5.729 3.116.48.881 5.728-3.115-.479-.882Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(68.849 287.768555 812.136523)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M989.509 401.904 1218.77 992.4l65.68 148.88" class="p"/>
                <path d="m992.376 400.213-6.078 2.36.363.935 6.078-2.36-.363-.935Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305390.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(64.564 197.0069164 857.8146272)">
                    <tspan x="0" y="14.9588">Digital Alliance</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M929.57 427.856 1203 998.309c.17.361.37.722.57 1.073l80.88 141.888" class="p"/>
                <path d="m932.289 426.022-5.88 2.818.434.905 5.88-2.819-.434-.904Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274648.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(64.564 178.3018323 923.1988905)">
                    <tspan x="0" y="14.9588">BYYD</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m949.332 418.696 258.858 577.436c.15.321.3.642.47.963l75.8 144.175" class="p"/>
                <path d="m952.118 416.826-5.95 2.668.41.915 5.95-2.667-.41-.916Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(67.821 226.5796056 872.3063892)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m969.315 410.05 243.975 583.715c.12.281.24.562.38.833l70.79 146.682" class="p"/>
                <path d="m972.121 408.407-6.017 2.514.387.925 6.016-2.514-.386-.925Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://betweenx.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(72.98 354.4911832 801.2060401)">
                    <tspan x="0" y="14.9588">Between Exchange</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1051.25 380.617 183.32 606.075 49.88 154.588" class="p"/>
                <path d="m1054.22 379.22-6.24 1.888.29.961 6.24-1.888-.29-.961Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(69.89 263.6114525 877.0905702)">
                    <tspan x="0" y="14.9588">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1009.9 394.28 214.19 596.345 60.36 150.655" class="p"/>
                <path d="m1012.82 392.601-6.13 2.204.34.944 6.13-2.204-.34-.944Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/82322.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(71.922 295.385262 854.3472434)">
                    <tspan x="0" y="14.9588">Эверест</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1030.49 387.187 198.82 601.411 55.14 152.682" class="p"/>
                <path d="m1033.43 385.719-6.2 2.047.32.952 6.19-2.046-.31-.953Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305107.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(74.822 344.2640475 833.003058)">
                    <tspan x="0" y="14.9588">Adspector</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1072.18 374.577 167.91 611.012m0 0 44.41 155.751" class="p"/>
                <path d="m1075.19 373.262-6.29 1.727.26.968 6.29-1.728-.26-.967Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <a href="https://mediatoday.ru/" target="_blank">
                <text class="text " transform="rotate(60.412 222.3720012 738.6217212)">
                    <tspan x="0" y="14.9588">Mediatoday</tspan>
                </text>
            </a>
            <a href="https://moe.video/" target="_blank">
                <text class="text " transform="rotate(61.106 242.276031 754.0115403)">
                    <tspan x="0" y="14.9588">MoeVideo</tspan>
                </text>
            </a>
            <a href="https://punchmedia.ru/" target="_blank">
                <text class="text " transform="rotate(64.336 311.867179 673.2708932)">
                    <tspan x="0" y="14.9588">Punch Media Group</tspan>
                </text>
            </a>
            <a href="https://xaprio.com/" target="_blank">
                <text class="text " transform="rotate(64.712 326.6908337 695.3037058)">
                    <tspan x="0" y="14.9588">Xaprio by Xapads</tspan>
                </text>
            </a>
            <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank">
                <text class="text " transform="rotate(67.5 340.0254569 702.858633)">
                    <tspan x="0" y="14.9588">СберСеллер</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m832.111 285.014-12.69-24.808" stroke="#E40521"/>
                <path d="m822.098 258.308-5.806 2.967.456.894 5.806-2.968-.456-.893Z" fill="#E40521"/>
                <path d="m855.535 273.397-12.038-25.109" stroke="#E40521"/>
                <path d="m846.224 246.386-5.88 2.818.434.905 5.88-2.818-.434-.905Z" fill="#E40521"/>
                <path d="m879.26 262.393-11.396-25.41" stroke="#E40521"/>
                <path d="m870.639 235.121-5.95 2.668.41.915 5.95-2.667-.41-.916Z" fill="#E40521"/>
                <path d="m892.512 226.309 10.734 25.681c-32.292 13.513-63.751 28.62-94.258 45.243l-13.322-24.508"
                      stroke="#E40521"/>
                <path d="m895.324 224.659-6.016 2.514.387.926 6.016-2.514-.387-.926Zm-97.022 45.998-5.728 3.115.48.881 5.728-3.115-.48-.881Z"
                      fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root" >
            <tspan x="972" y="1503.77">Рекламные видеосети</tspan>
        </text>
        <g class="root js--root">
            <path d="M1284.5 1141.34c.43 1.53.65 3.1.65 4.68m0 0v335.92m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-101.55"
                  class="p"/>
            <path d="M1166.66 1496.37c-1.46 0-2.64 1.19-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64 1.45 0 2.64-1.18 2.64-2.64 0-1.45-1.19-2.64-2.64-2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
