<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--3">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274651.phtml" target="_blank">
                <text class="text js--company" transform="rotate(31.64 -961.5265866 1245.768428)">
                    <tspan x="0" y="14.9588">Calltouch</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m576.604 742.43 536.256 337.63 147 85.08" class="p"/>
                <path d="m577.923 739.487-3.475 5.518.849.535 3.475-5.518-.849-.535Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274682.phtml" target="_blank">
                <text class="text js--company" transform="rotate(33.475 -873.9864074 1274.237409)">
                    <tspan x="0" y="14.9588">K50</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m588.441 724.152 527.429 351.188 143.99 89.8" class="p"/>
                <path d="m589.839 721.204-3.615 5.427.835.556 3.614-5.427-.834-.556Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299348.phtml" target="_blank">
                <text class="text js--company" transform="rotate(35.13 -736.0381676 1112.9041249)">
                    <tspan x="0" y="14.9588">CallTracking.ru</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m600.74 706.175 518.13 364.455 140.99 94.51" class="p"/>
                <path d="m602.204 703.179-3.751 5.334.82.577 3.751-5.334-.82-.577Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299806.phtml" target="_blank">
                <text class="text js--company" transform="rotate(39.608 -525.6154565 1089.8949748)">
                    <tspan x="0" y="14.9588">CallKeeper</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m640.335 654.231 488.775 403.109 130.75 107.8" class="p"/>
                <path d="m642.018 651.352-4.149 5.031.774.638 4.149-5.03-.774-.639Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274660.phtml" target="_blank">
                <text class="text js--company" transform="rotate(36.511 -652.9956366 1068.619421)">
                    <tspan x="0" y="14.9588">UIS (ex CoMagic)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m613.491 688.53 508.629 377.54 137.74 99.07" class="p"/>
                <path d="m615.029 685.516-3.886 5.237.806.597 3.886-5.236-.806-.598Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274688.phtml" target="_blank">
                <text class="text js--company" transform="rotate(41.245 -448.3332715 1045.19959)">
                    <tspan x="0" y="14.9588">Mango Office</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m654.4 637.619 478.21 415.341 127.25 112.18" class="p"/>
                <path d="m656.163 634.912-4.277 4.922.758.658 4.276-4.922-.757-.658Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/174725.phtml" target="_blank">
                <text class="text js--company" transform="rotate(37.816 -618.057904 1159.7910024)">
                    <tspan x="0" y="14.9588">Roistat</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m626.692 671.215 499.028 390.565 134.14 103.36" class="p"/>
                <path d="m628.306 668.355-4.019 5.134.79.619 4.019-5.135-.79-.618Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://zadarma.com/ru/" target="_blank">
                <text class="text js--company" transform="rotate(42.586 -409.6173995 1073.8801367)">
                    <tspan x="0" y="14.9588">Zadarma</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m668.885 621.358 467.335 427.322m0 0 123.48 116.43" class="p"/>
                <path d="m670.721 618.625-4.4 4.812.74.677 4.4-4.812-.74-.677Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="763.68" y="1393.13">CallTracking</tspan>
        </text>
        <g class="root js--root">
            <path d="M1259.7 1165.11c3.42 3.22 5.36 7.71 5.36 12.41m0 0v194m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0H874.044"
                  class="p"/>
            <path d="M874.194 1391.23c1.458 0 2.639-1.18 2.639-2.64 0-1.45-1.181-2.64-2.639-2.64-1.457 0-2.638 1.19-2.638 2.64 0 1.46 1.181 2.64 2.638 2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
