<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--1">
        <g class="legend">
            <a href="https://xaprio.com/" target="_blank">
                <text class="text" transform=" rotate(8.734 -6478.1 814.102)">
                    <tspan x="0" y="14.959">Xaprio by Xapads</tspan>
                </text>
            </a>
            <a href="https://solta.io/" target="_blank">
                <text class="text" transform=" rotate(7.347 -8009.523 1570.63)">
                    <tspan x="0" y="14.959">Solta</tspan>
                </text>
            </a>
            <a href="https://punchmedia.ru/" target="_blank">
                <text class="text" transform=" rotate(5.72 -10551.05 776.296)">
                    <tspan x="0" y="14.959">Punch Media Group</tspan>
                </text>
            </a>
            <a href="https://programmatica.com/" target="_blank">
                <text class="text" transform=" rotate(4.33 -14370.314 765.339)">
                    <tspan x="0" y="14.959">Programmatica.com</tspan>
                </text>
            </a>
            <a href="https://mobidriven.com/" target="_blank">
                <text class="text" transform=" rotate(2.785 -23072.079 2221.473)">
                    <tspan x="0" y="14.959">Mobidriven</tspan>
                </text>
            </a>
            <a href="https://mediatoday.ru/" target="_blank">
                <text class="text" transform=" rotate(1.162 -56935.889 4272.372)">
                    <tspan x="0" y="14.959">Mediatoday</tspan>
                </text>
            </a>
            <a href="https://adspend.ru/ " target="_blank">
                <text class="text" >
                    <tspan x=" 95.876" y="1199.93">Adspend</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m175.375 1196.69 27.918.07c0-56.88 4.334-112.75 12.701-167.28l-27.578-4.64" stroke="#E40521"/>
                <path d="m174.871 1193.38-.016 6.52 1.003.01.016-6.52-1.003-.01ZM188.467 1021.65l-1.082 6.43.989.17 1.082-6.43-.989-.17Z"
                      fill="#E40521"/>
                <path d="m175.375 1168.72 28.199.43" stroke="#E40521"/>
                <path d="m174.933 1165.53-.099 6.52 1.003.01.099-6.52-1.003-.01Z" fill="#E40521"/>
                <path d="m204.668 1140.88-27.989-1.28" stroke="#E40521"/>
                <path d="m176.311 1136.22-.299 6.51 1.003.05.298-6.51-1.002-.05Z" fill="#E40521"/>
                <path d="m206.403 1112.61-27.988-2.14" stroke="#E40521"/>
                <path d="m178.185 1107.31-.497 6.5 1 .08.497-6.5-1-.08Z" fill="#E40521"/>
                <path d="m209.012 1084.99-27.989-2.78" stroke="#E40521"/>
                <path d="m180.86 1078.99-.644 6.49.998.1.645-6.49-.999-.1Z" fill="#E40521"/>
                <path d="m212.061 1057.38-27.988-3.43" stroke="#E40521"/>
                <path d="m183.962 1050.6-.79 6.47.995.12.79-6.47-.995-.12Z" fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="352.364" y="1322.85">DSP (Demand Sid Platform)</tspan>
        </text>
        <g class="root js--root">
            <path d="M1233.98 1196.53a17.063 17.063 0 0 1 11.01 15.95m0 0v88.78m0 0c0 9.42-7.64 17.06-17.07 17.06m0 0H589.695"
                  class="p"/>
            <path d="M589.825 1315.68a2.646 2.646 0 0 0-2.638 2.64c0 1.45 1.184 2.64 2.638 2.64a2.646 2.646 0 0 0 2.639-2.64c0-1.45-1.184-2.64-2.639-2.64Z"
                  class="e"/>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text js--company" transform="rotate(12.844 -4138.529 2288.96)">
                    <tspan x="0" y="14.959">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m467.93 1002.42 615.81 144.11M1083.74 1146.53c.51.12 1.01.26 1.5.43M1085.24 1146.96l148.74 49.57"
                      class="p"/>
                <path d="m468.183 999.131-1.486 6.349.977.23 1.485-6.351-.976-.228Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117607.phtml" target="_blank">
                <text class="text js--company" transform="rotate(11.65 -4624.652 1735.467)">
                    <tspan x="0" y="14.959">MediaSniper / Ростелеком</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m463.245 1023.69 619.265 128.32c.45.09.91.22 1.36.35l150.11 44.17" class="p"/>
                <path d="m463.425 1020.42-1.324 6.38.983.2 1.323-6.38-.982-.2Z" class="e"/>
            </g>

        </g>
        <g class="company js--company">

            <a href="https://adindex.ru/catalogue/companies/119246.phtml" target="_blank">
                <text class="text js--company" transform="rotate(1.038 -63964.309 20504.779)">
                    <tspan x="0" y="14.959">Getintent</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m445.791 1174.92 633.059 16.17 155.14 5.44" class="p"/>
                <path d="m445.34 1171.55-.166 6.52 1.002.02.167-6.52-1.003-.02Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/111942.phtml" target="_blank">
                <text class="text js--company">
                    <tspan x="322.944" y="1199.97">Hybrid / Hybe</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M445.509 1196.69h788.481" class="p"/>
                <path d="M446.011 1193.43h-1.003v6.52h1.003v-6.52Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://www.soloway.ru/" target="_blank">
                <text class="text js--company" transform="rotate(2.868 -22498.458 5168.592)">
                    <tspan x="0" y="14.959">Soloway (ООО «Эдривер»)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m446.623 1153.16 632.217 32.32 155.15 11.04" class="p"/>
                <path d="m446.249 1149.74-.332 6.51 1.002.05.332-6.51-1.002-.05Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274748.phtml" target="_blank">
                <text class="text js--company" transform="rotate(4.263 -14774.697 5225.163)">
                    <tspan x="0" y="14.959">VК Реклама</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m448.007 1131.42 631.283 48.47 154.7 16.63" class="p"/>
                <path d="m447.756 1128.14-.499 6.5 1.001.08.499-6.5-1.001-.08Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274648.phtml" target="_blank">
                <text class="text js--company" transform="rotate(5.781 -10640.658 4484.955)">
                    <tspan x="0" y="14.959">BYYD</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m449.954 1109.73 629.866 64.59 154.17 22.21" class="p"/>
                <path d="m449.757 1106.35-.664 6.48.997.11.665-6.49-.998-.1Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274646.phtml" target="_blank">
                <text class="text js--company" transform="rotate(7.139 -8366.837 3600.794)">
                    <tspan x="0" y="14.959">Bidease</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m452.451 1088.11 628.039 80.64 153.5 27.78" class="p"/>
                <path d="m452.384 1084.86-.831 6.47.995.13.831-6.47-.995-.13Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/284708.phtml" target="_blank">
                <text class="text js--company" transform="rotate(8.658 -6703.534 3026.849)">
                    <tspan x="0" y="14.959">MTC Ads</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m455.501 1066.54 625.339 96.59c.35.05.69.12 1.03.19l152.12 33.21" class="p"/>
                <path d="m455.498 1063.23-.995 6.45.991.15.996-6.45-.992-.15Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://betweenx.ru/" target="_blank">
                <text class="text js--company" transform="rotate(10.405 -5370.284 2192.25)">
                    <tspan x="0" y="14.959">Between Exchange</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m459.102 1045.07 622.538 112.5c.4.07.8.16 1.19.26l151.15 38.7" class="p"/>
                <path d="m459.16 1041.64-1.16 6.41.988.18 1.159-6.41-.987-.18Z" class="e"/>
            </g>
        </g>
    </g>
    <g class="svg_content svg_content--2">
        <g class="legend">
            <a href="https://solta.io/" target="_blank">
                <text class="text" transform="rotate(25.182 -1432.428917 879.2611696)">
                    <tspan x="0" y="14.9588">Solta</tspan>
                </text>
            </a>
            <a href="https://programmatica.com/" target="_blank">
                <text class="text" transform="rotate(22.899 -1610.1512307 638.687364)">
                    <tspan x="0" y="14.9588">Programmatica.com</tspan>
                </text>
            </a>
            <a href="https://mobidriven.com/" target="_blank">
                <text class="text" transform="rotate(22.082 -1785.2857382 804.2701154)">
                    <tspan x="0" y="14.9588">Mobidriven</tspan>
                </text>
            </a>
            <a href="https://mediatoday.ru/" target="_blank">
                <text class="text" transform="rotate(20.562 -2008.3326829 807.072663)">
                    <tspan x="0" y="14.9588">Mediatoday</tspan>
                </text>
            </a>
            <a href="https://betweenx.ru/" target="_blank">
                <text class="text" transform="rotate(18.591 -2303.7324221 665.8591866)">
                    <tspan x="0" y="14.9588">Between Exchange</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m272.352 813.114-26.113-9.771" stroke="#E40521"/>
                <path d="m246.907 800.2-2.286 6.107.94.352 2.285-6.107-.939-.352Z" fill="#E40521"/>
                <path d="m282.464 787.021-25.792-10.413" stroke="#E40521"/>
                <path d="m257.425 773.328-2.441 6.047.931.376 2.44-6.047-.93-.376Z" fill="#E40521"/>
                <path d="m293.388 761.249-25.631-11.055" stroke="#E40521"/>
                <path d="m268.584 747.034-2.582 5.987.921.398 2.582-5.988-.921-.397Z" fill="#E40521"/>
                <path d="m279.815 723.791 25.02 11.878c-15.7 33.756-29.724 68.446-41.973 103.958l-26.414-9.229"
                      stroke="#E40521"/>
                <path d="m280.757 720.619-2.797 5.891.906.43 2.797-5.89-.906-.431Zm-43.702 106.498-2.15 6.155.947.331 2.15-6.155-.947-.331Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adriver.ru/" target="_blank">
                <text class="text js--company" transform="rotate(15.834 -3136.169589 1946.8191895)">
                    <tspan x="0" y="14.9588">AdRiver</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m478.935 960.289 608.515 175.601 159.65 42.51" class="p"/>
                <path d="m479.364 957.08-1.809 6.265.964.278 1.809-6.265-.964-.278Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text js--company" transform="rotate(17.434 -2772.1372773 1942.6839324)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M485.245 939.443 1089.1 1130.55l158 47.85" class="p"/>
                <path d="m485.729 936.098-1.968 6.216.957.303 1.967-6.217-.956-.302Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text js--company" transform="rotate(18.72 -2471.288706 1717.7721763)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m492.077 918.768 598.733 206.452 156.29 53.18" class="p"/>
                <path d="m492.657 915.471-2.126 6.165.949.327 2.125-6.165-.948-.327Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text js--company" transform="rotate(20.34 -2190.2861988 1660.2509202)">
                    <tspan x="0" y="14.9588">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m499.44 898.272 593.34 221.698 154.32 58.43" class="p"/>
                <path d="m500.113 895.15-2.282 6.108.939.351 2.283-6.108-.94-.351Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/75545.phtml" target="_blank">
                <text class="text js--company" transform="rotate(21.819 -1966.69182 1611.1158786)">
                    <tspan x="0" y="14.9588">Adfox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m507.315 877.979 587.495 236.781 152.29 63.64" class="p"/>
                <path d="m508.073 874.782-2.438 6.048.931.375 2.437-6.048-.93-.375Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/165927.phtml" target="_blank">
                <text class="text js--company" transform="rotate(22.79 -1819.3892656 1577.0243701)">
                    <tspan x="0" y="14.9588">Yabbi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m515.711 857.885 581.369 251.755 150.02 68.76" class="p"/>
                <path d="m516.562 854.807-2.592 5.983.92.399 2.592-5.984-.92-.398Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text js--company" transform="rotate(24.98 -1559.4558002 1397.1590767)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m524.62 838.015 574.52 266.415 147.96 73.97" class="p"/>
                <path d="m525.537 834.921-2.743 5.915.91.422 2.743-5.915-.91-.422Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/286132.phtml" target="_blank">
                <text class="text js--company" transform="rotate(26.215 -1408.8310887 1308.012419)">
                    <tspan x="0" y="14.9588">Hyper AdTech</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m534.04 818.382 567.34 280.908 145.72 79.11" class="p"/>
                <path d="m535.036 815.205-2.893 5.844.899.445 2.893-5.844-.899-.445Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/284707.phtml" target="_blank">
                <text class="text js--company" transform="rotate(27.57 -1273.2700843 1258.969912)">
                    <tspan x="0" y="14.9588">Билайн Adtech</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m543.95 798.989 560.2 295.421 142.95 83.99" class="p"/>
                <path d="m545.033 795.971-3.042 5.768.887.468 3.042-5.768-.887-.468Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315139.phtml" target="_blank">
                <text class="text js--company" transform="rotate(29.118 -1183.3796577 1383.0114987)">
                    <tspan x="0" y="14.9588">Vox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m554.353 779.858 551.997 309.362m0 0c.27.15.53.31.79.47" class="p"/>
                <path d="m555.507 776.8-3.188 5.688.875.491 3.189-5.688-.876-.491Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="331.71" y="1352.69">Управление размещением рекламы (крутилки)</tspan>
        </text>
        <g class="root js--root">
            <path d="m1107.14 1089.69 139.97 88.71m0 0c4.94 3.13 7.93 8.57 7.93 14.41m0 0v138.57m0 0c0 9.42-7.64 17.07-17.07 17.07m0 0H731.884"
                  class="p"/>
            <path d="M732.005 1351.07c1.457 0 2.638-1.18 2.638-2.63 0-1.46-1.181-2.64-2.638-2.64-1.457 0-2.638 1.18-2.638 2.64 0 1.45 1.181 2.63 2.638 2.63Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--3">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274651.phtml" target="_blank">
                <text class="text js--company" transform="rotate(31.64 -961.5265866 1245.768428)">
                    <tspan x="0" y="14.9588">Calltouch</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m576.604 742.43 536.256 337.63 147 85.08" class="p"/>
                <path d="m577.923 739.487-3.475 5.518.849.535 3.475-5.518-.849-.535Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274682.phtml" target="_blank">
                <text class="text js--company" transform="rotate(33.475 -873.9864074 1274.237409)">
                    <tspan x="0" y="14.9588">K50</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m588.441 724.152 527.429 351.188 143.99 89.8" class="p"/>
                <path d="m589.839 721.204-3.615 5.427.835.556 3.614-5.427-.834-.556Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299348.phtml" target="_blank">
                <text class="text js--company" transform="rotate(35.13 -736.0381676 1112.9041249)">
                    <tspan x="0" y="14.9588">CallTracking.ru</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m600.74 706.175 518.13 364.455 140.99 94.51" class="p"/>
                <path d="m602.204 703.179-3.751 5.334.82.577 3.751-5.334-.82-.577Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299806.phtml" target="_blank">
                <text class="text js--company" transform="rotate(39.608 -525.6154565 1089.8949748)">
                    <tspan x="0" y="14.9588">CallKeeper</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m640.335 654.231 488.775 403.109 130.75 107.8" class="p"/>
                <path d="m642.018 651.352-4.149 5.031.774.638 4.149-5.03-.774-.639Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274660.phtml" target="_blank">
                <text class="text js--company" transform="rotate(36.511 -652.9956366 1068.619421)">
                    <tspan x="0" y="14.9588">UIS (ex CoMagic)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m613.491 688.53 508.629 377.54 137.74 99.07" class="p"/>
                <path d="m615.029 685.516-3.886 5.237.806.597 3.886-5.236-.806-.598Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274688.phtml" target="_blank">
                <text class="text js--company" transform="rotate(41.245 -448.3332715 1045.19959)">
                    <tspan x="0" y="14.9588">Mango Office</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m654.4 637.619 478.21 415.341 127.25 112.18" class="p"/>
                <path d="m656.163 634.912-4.277 4.922.758.658 4.276-4.922-.757-.658Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/174725.phtml" target="_blank">
                <text class="text js--company" transform="rotate(37.816 -618.057904 1159.7910024)">
                    <tspan x="0" y="14.9588">Roistat</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m626.692 671.215 499.028 390.565 134.14 103.36" class="p"/>
                <path d="m628.306 668.355-4.019 5.134.79.619 4.019-5.135-.79-.618Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://zadarma.com/ru/" target="_blank">
                <text class="text js--company" transform="rotate(42.586 -409.6173995 1073.8801367)">
                    <tspan x="0" y="14.9588">Zadarma</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m668.885 621.358 467.335 427.322m0 0 123.48 116.43" class="p"/>
                <path d="m670.721 618.625-4.4 4.812.74.677 4.4-4.812-.74-.677Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="763.68" y="1393.13">CallTracking</tspan>
        </text>
        <g class="root js--root">
            <path d="M1259.7 1165.11c3.42 3.22 5.36 7.71 5.36 12.41m0 0v194m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0H874.044"
                  class="p"/>
            <path d="M874.194 1391.23c1.458 0 2.639-1.18 2.639-2.64 0-1.45-1.181-2.64-2.639-2.64-1.457 0-2.638 1.19-2.638 2.64 0 1.46 1.181 2.64 2.638 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--4">
        <text class="root_title js--root">
            <tspan x="854.627" y="1443.37">Optimization Tools</tspan>
        </text>
        <g class="root js--root">
            <path d="M1272.54 1152.77c1.68 2.7 2.57 5.82 2.57 9m0 0v259.95m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-242.09"
                  class="p"/>
            <path d="M1016.09 1436.14c-1.45 0-2.64 1.19-2.64 2.64 0 1.46 1.19 2.64 2.64 2.64 1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.64-2.64-2.64Z"
                  class="e"/>
        </g>
        <g class="legend">
            <a href="https://centra.ai/" target="_blank">
                <text class="text" transform="rotate(50.296 -65.5981208 794.7694675)">
                    <tspan x="0" y="14.9588">Centra</tspan>
                </text>
            </a>
            <a href="https://solta.io/" target="_blank">
                <text class="text" transform="rotate(51.514 -34.1270924 802.5312162)">
                    <tspan x="0" y="14.9588">Solta</tspan>
                </text>
            </a>
            <a href="https://xerxes.media/" target="_blank">
                <text class="text" transform="rotate(51.07 35.9148302 726.4173213)">
                    <tspan x="0" y="14.9588">Xerxes by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m656.918 398.673-17.556-21.859" stroke="#E40521"/>
                <path d="m641.586 374.399-5.084 4.084.629.782 5.083-4.084-.628-.782Z" fill="#E40521"/>
                <path d="m618.636 393.908 18.128 21.418c13.292-11.266 26.885-22.191 40.748-32.774l-16.993-22.29"
                      stroke="#E40521"/>
                <path d="m620.796 391.493-4.977 4.213.648.765 4.977-4.212-.648-.766Zm42.005-33.627-5.185 3.954.608.797 5.186-3.953-.609-.798Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://lewel.tech/" target="_blank">
                <text class="text js--company" transform="rotate(58.654 48.4283664 945.8440519)">
                    <tspan x="0" y="14.9588">Levvel</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m853.088 469.457 330.602 540.283m0 0 88.85 143.03" class="p"/>
                <path d="m855.605 467.319-5.562 3.403.524.856 5.562-3.404-.524-.855Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text js--company" transform="rotate(51.335 -113.849529 968.9770953)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m764.086 532.055 396.654 493.685 111.75 127" class="p"/>
                <path d="m766.317 529.644-5.083 4.084.628.782 5.083-4.084-.628-.782Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274682.phtml" target="_blank">
                <text class="text js--company" transform="rotate(51.348 -116.1393634 1033.2492116)">
                    <tspan x="0" y="14.9588">K50</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m781.231 518.632 383.989 503.738 107.27 130.37" class="p"/>
                <path d="m783.526 516.177-5.185 3.953.608.798 5.185-3.953-.608-.798Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/90791.phtml" target="_blank">
                <text class="text js--company" transform="rotate(50.352 -164.027106 1008.593451)">
                    <tspan x="0" y="14.9588">eLama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m747.283 545.909 409.287 483.561 115.92 123.27" class="p"/>
                <path d="m749.441 543.512-4.977 4.212.648.766 4.977-4.212-.648-.766Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/d97501.phtml" target="_blank">
                <text class="text js--company" transform="rotate(54.072 -49.9483048 973.558877)">
                    <tspan x="0" y="14.9588">Click.ru</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m798.716 505.652 370.934 513.298 102.84 133.79" class="p"/>
                <path d="m801.053 503.437-5.285 3.819.588.813 5.285-3.819-.588-.813Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315133.phtml" target="_blank">
                <text class="text js--company" transform="rotate(48.314 -205.904185 1008.841902)">
                    <tspan x="0" y="14.9588">Tamburin</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m730.852 560.185 421.098 472.505c.23.25.46.5.7.74l119.85 119.3" class="p"/>
                <path d="m732.946 557.676-4.868 4.338.667.749 4.868-4.338-.667-.749Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296870.phtml" target="_blank">
                <text class="text js--company" transform="rotate(55.325 -9.1764023 950.83912)">
                    <tspan x="0" y="14.9588">Admon.ai</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m816.532 493.122 357.748 522.668m0 0 98.21 136.95" class="p"/>
                <path d="m818.939 490.876-5.381 3.683.566.828 5.381-3.683-.566-.828Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/307499.phtml" target="_blank">
                <text class="text js--company" transform="rotate(56.866 16.7778316 956.0047253)">
                    <tspan x="0" y="14.9588">Marilyn</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1272.49 1152.74-93.52-140.01m0 0L834.659 481.053" class="p"/>
                <path d="m837.133 478.81-5.473 3.544.545.842 5.473-3.544-.545-.842Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text js--company" transform="rotate(45.563 -216.328646 842.2159705)">
                    <tspan x="0" y="14.9588">Weborama Campaign Manager</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m699.091 589.978 444.739 450.452m0 0c.3.3.6.59.92.88m0-.01 127.74 111.44" class="p"/>
                <path d="m701.058 587.365-4.641 4.581.705.714 4.641-4.581-.705-.714Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adriver.ru/ " target="_blank">
                <text class="text js--company" transform="rotate(47.308 -249.660074 1026.7387567)">
                    <tspan x="0" y="14.9588">AdRiver</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1272.49 1152.74-123.85-115.42m0 0c-.28-.26-.55-.53-.81-.81m0 0L714.781 574.881" class="p"/>
                <path d="m716.809 572.38-4.755 4.461.686.732 4.756-4.462-.687-.731Z" class="e"/>
            </g>
        </g>
    </g>
    <g class="svg_content svg_content--5">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text js--company" transform="rotate(61.177 111.9615289 964.2757855)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m910.058 437.526 287.932 563.324c.21.4.43.8.66 1.18l85.79 139.25" class="p"/>
                <path d="m912.726 435.638-5.806 2.968.457.893 5.806-2.967-.457-.894Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(60.515 91.7460123 954.9150379)">
                    <tspan x="0" y="14.9588">РСЯ</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m890.797 447.678 302.083 555.532c.24.45.5.88.77 1.29l90.8 136.78" class="p"/>
                <path d="m893.439 445.591-5.729 3.116.48.881 5.728-3.115-.479-.882Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(68.849 287.768555 812.136523)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M989.509 401.904 1218.77 992.4l65.68 148.88" class="p"/>
                <path d="m992.376 400.213-6.078 2.36.363.935 6.078-2.36-.363-.935Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305390.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(64.564 197.0069164 857.8146272)">
                    <tspan x="0" y="14.9588">Digital Alliance</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M929.57 427.856 1203 998.309c.17.361.37.722.57 1.073l80.88 141.888" class="p"/>
                <path d="m932.289 426.022-5.88 2.818.434.905 5.88-2.819-.434-.904Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274648.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(64.564 178.3018323 923.1988905)">
                    <tspan x="0" y="14.9588">BYYD</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m949.332 418.696 258.858 577.436c.15.321.3.642.47.963l75.8 144.175" class="p"/>
                <path d="m952.118 416.826-5.95 2.668.41.915 5.95-2.667-.41-.916Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(67.821 226.5796056 872.3063892)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m969.315 410.05 243.975 583.715c.12.281.24.562.38.833l70.79 146.682" class="p"/>
                <path d="m972.121 408.407-6.017 2.514.387.925 6.016-2.514-.386-.925Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://betweenx.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(72.98 354.4911832 801.2060401)">
                    <tspan x="0" y="14.9588">Between Exchange</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1051.25 380.617 183.32 606.075 49.88 154.588" class="p"/>
                <path d="m1054.22 379.22-6.24 1.888.29.961 6.24-1.888-.29-.961Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(69.89 263.6114525 877.0905702)">
                    <tspan x="0" y="14.9588">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1009.9 394.28 214.19 596.345 60.36 150.655" class="p"/>
                <path d="m1012.82 392.601-6.13 2.204.34.944 6.13-2.204-.34-.944Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/82322.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(71.922 295.385262 854.3472434)">
                    <tspan x="0" y="14.9588">Эверест</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1030.49 387.187 198.82 601.411 55.14 152.682" class="p"/>
                <path d="m1033.43 385.719-6.2 2.047.32.952 6.19-2.046-.31-.953Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305107.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(74.822 344.2640475 833.003058)">
                    <tspan x="0" y="14.9588">Adspector</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1072.18 374.577 167.91 611.012m0 0 44.41 155.751" class="p"/>
                <path d="m1075.19 373.262-6.29 1.727.26.968 6.29-1.728-.26-.967Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <a href="https://mediatoday.ru/" target="_blank">
                <text class="text " transform="rotate(60.412 222.3720012 738.6217212)">
                    <tspan x="0" y="14.9588">Mediatoday</tspan>
                </text>
            </a>
            <a href="https://moe.video/" target="_blank">
                <text class="text " transform="rotate(61.106 242.276031 754.0115403)">
                    <tspan x="0" y="14.9588">MoeVideo</tspan>
                </text>
            </a>
            <a href="https://punchmedia.ru/" target="_blank">
                <text class="text " transform="rotate(64.336 311.867179 673.2708932)">
                    <tspan x="0" y="14.9588">Punch Media Group</tspan>
                </text>
            </a>
            <a href="https://xaprio.com/" target="_blank">
                <text class="text " transform="rotate(64.712 326.6908337 695.3037058)">
                    <tspan x="0" y="14.9588">Xaprio by Xapads</tspan>
                </text>
            </a>
            <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank">
                <text class="text " transform="rotate(67.5 340.0254569 702.858633)">
                    <tspan x="0" y="14.9588">СберСеллер</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m832.111 285.014-12.69-24.808" stroke="#E40521"/>
                <path d="m822.098 258.308-5.806 2.967.456.894 5.806-2.968-.456-.893Z" fill="#E40521"/>
                <path d="m855.535 273.397-12.038-25.109" stroke="#E40521"/>
                <path d="m846.224 246.386-5.88 2.818.434.905 5.88-2.818-.434-.905Z" fill="#E40521"/>
                <path d="m879.26 262.393-11.396-25.41" stroke="#E40521"/>
                <path d="m870.639 235.121-5.95 2.668.41.915 5.95-2.667-.41-.916Z" fill="#E40521"/>
                <path d="m892.512 226.309 10.734 25.681c-32.292 13.513-63.751 28.62-94.258 45.243l-13.322-24.508"
                      stroke="#E40521"/>
                <path d="m895.324 224.659-6.016 2.514.387.926 6.016-2.514-.387-.926Zm-97.022 45.998-5.728 3.115.48.881 5.728-3.115-.48-.881Z"
                      fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root" >
            <tspan x="972" y="1503.77">Рекламные видеосети</tspan>
        </text>
        <g class="root js--root">
            <path d="M1284.5 1141.34c.43 1.53.65 3.1.65 4.68m0 0v335.92m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-101.55"
                  class="p"/>
            <path d="M1166.66 1496.37c-1.46 0-2.64 1.19-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64 1.45 0 2.64-1.18 2.64-2.64 0-1.45-1.19-2.64-2.64-2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--6">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274675.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(82.337 443.8231436 798.3990788)">
                    <tspan x="0" y="14.9588">Getblogger</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1178.72 352.497 88.64 626.812 27.86 150.531" class="p"/>
                <path d="m1181.88 351.52-6.45.914.14.993 6.45-.913-.14-.994Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97866.phtml" target="_blank">
                <text class="text js--company" transform="rotate(86.71 487.729473 790.568838)">
                    <tspan x="0" y="14.9588">Где Слон?</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1243.69 345.837 40.4 631.746 11.13 152.257" class="p"/>
                <path d="m1246.91 345.141-6.51.416.06 1.001 6.51-.416-.06-1.001Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/95009.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(83.53 445.3699906 812.8756283)">
                    <tspan x="0" y="14.9588">CityAds</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1200.32 349.729 72.6 628.918 22.3 151.193" class="p"/>
                <path d="m1203.51 348.83-6.48.749.11.996 6.48-.748-.11-.997Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97864.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(85.009 484.4782357 783.2145122)">
                    <tspan x="0" y="14.9588">CPAExchange</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1221.98 347.502 56.53 630.693 16.71 151.645" class="p"/>
                <path d="m1225.19 346.704-6.5.582.09.999 6.5-.582-.09-.999Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296725.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(77.444 374.2812956 834.8270189)">
                    <tspan x="0" y="14.9588">Admitad</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1114.44 364.114 136.27 617.783c.09.421.2.833.33 1.244l44.17 146.699" class="p"/>
                <path d="m1117.48 363.039-6.36 1.403.21.98 6.37-1.404-.22-.979Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274650.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(90.943 546.995322 766.8325143)">
                    <tspan x="0" y="14.9588">Callexchange</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1308.99 344.171-8.09 633.182m0 0-5.71 153.027" class="p"/>
                <path d="m1305.63 343.567-.02 1.003 6.52.083.02-1.003-6.52-.083Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305401.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(87.333 491.2170298 805.2921102)">
                    <tspan x="0" y="14.9588">Rafinad</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1265.44 344.723 24.25 632.62m0 0 5.53 152.497" class="p"/>
                <path d="m1268.71 344.012-6.51.25.04 1.003 6.51-.25-.04-1.003Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117667.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(88.74 515.9862658 791.877938)">
                    <tspan x="0" y="14.9588">Get4Click</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1295.22 1129.84.08-152.487m0 0-8.09-633.181" class="p"/>
                <path d="m1290.49 343.565-6.52.083.01 1.003 6.52-.083-.01-1.003Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/165281.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(79.112 402.0951545 817.7871134)">
                    <tspan x="0" y="14.9588">Perfluence</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1135.77 359.701 120.4 620.812m0 0c.07.361.15.712.24 1.073m0 0 38.81 148.254" class="p"/>
                <path d="m1138.9 358.536-6.4 1.242.19.985 6.4-1.242-.19-.985Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274725.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(80.632 407.6658476 826.2543097)">
                    <tspan x="0" y="14.9588">Otclick</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1295.22 1129.84-33.27-149.016m0 0c-.07-.301-.12-.602-.17-.903m0 0-104.57-624.103" class="p"/>
                <path d="m1160.31 354.861-6.43 1.077.17.99 6.43-1.078-.17-.989Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <a href="https://xerxes.media/" target="_blank">
                <text class="text " transform="rotate(80.27 546.1330234 667.1623636)">
                    <tspan x="0" y="14.9588">Xerxes by Xapads</tspan>
                </text>
            </a>
            <a href="https://unicom-digital.ru/" target="_blank">
                <text class="text " transform="rotate(79.205 490.9714952 708.9737326)">
                    <tspan x="0" y="14.9588">Unicom</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m1124.29 159.417 4.62 27.547c-8.62 1.435-17.19 2.98-25.74 4.625l-5.32-27.397"
                      stroke="#E40521"/>
                <path d="m1127.41 158.45-6.43 1.077.16.989 6.44-1.077-.17-.989Zm-26.44 4.593-6.4 1.242.19.985 6.4-1.242-.19-.985Z"
                      fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1013.11" y="1574.57">CPA-сети / партнерские сети</tspan>
        </text>
        <g class="root js--root">
            <path d="M1295.19 1130.38v421.84m0 0c0 9.42-7.63 17.06-17.06 17.06m0 0h-10.54" class="p"/>
            <path d="M1267.71 1571.91c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.63-2.64-2.63-1.46 0-2.64 1.18-2.64 2.63 0 1.46 1.18 2.64 2.64 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--7">
        <g class="legend">
            <a href="https://xerxes.media/" target="_blank">
                <text class="text " transform="rotate(-76.137 875.9442216 -907.3876536)">
                    <tspan x="0" y="14.9588">Xerxes by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m1550.79 175.769-6.57 26.554" stroke="#E40521"/>
                <path d="m1547.82 174.544-.25.974 6.33 1.567.24-.974-6.32-1.567Zm-6.66 26.505-.24.974 6.33 1.567.24-.974-6.33-1.567Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/117609.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-74.605 994.1145746 -817.249054)">
                    <tspan x="0" y="14.9588">AdSup</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1524.02 374.577-167.63 610.008c-.1.382-.22.763-.35 1.134l-50.81 144.661" class="p"/>
                <path d="m1521.05 373.269-.26.967 6.28 1.728.27-.967-6.29-1.728Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/101452.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-76.132 974.4427817 -779.2439179)">
                    <tspan x="0" y="14.9588">WakeApp</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1502.95 369.08-152.01 614.131c-.08.321-.17.642-.27.963l-45.44 146.206" class="p"/>
                <path d="m1499.98 367.851-.24.973 6.33 1.568.24-.974-6.33-1.567Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315136.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-83.488 881.7411746 -610.067622)">
                    <tspan x="0" y="14.9588">Xiaomi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1395.87 349.729-72.63 629.118-18.01 151.533" class="p"/>
                <path d="m1392.65 348.831-.12.996 6.48.748.11-.997-6.47-.747Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://ads.huawei.com/" target="_blank">
                <text class="text  js--company" transform="rotate(-82.133 899.144397 -639.8586383)">
                    <tspan x="0" y="14.9588">Huawei Ads</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1417.47 352.497-88.66 626.982-23.58 150.901" class="p"/>
                <path d="m1414.34 351.558-.14.993 6.45.913.15-.993-6.46-.913Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/307496.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-85.032 865.1234714 -578.9136932)">
                    <tspan x="0" y="14.9588">Go Tech (ex Go NET)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1374.21 347.502-56.53 630.703-12.45 152.175" class="p"/>
                <path d="m1371.01 346.714-.09 1 6.5.582.09-1-6.5-.582Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305396.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-78.214 952.5700016 -732.9777555)">
                    <tspan x="0" y="14.9588">Mobupps</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1481.74 364.114-136.39 618.315-40.12 147.951" class="p"/>
                <path d="m1478.63 362.894-.21.98 6.37 1.405.21-.98-6.37-1.405Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mobidriven.com/" target="_blank">
                <text class="text  js--company" transform="rotate(-80.551 917.464867 -674.2430479)">
                    <tspan x="0" y="14.9588">Mobidriven</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1438.99 355.828-104.65 624.564-29.11 149.988" class="p"/>
                <path d="m1435.79 354.743-.17.99 6.43 1.077.17-.99-6.43-1.077Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305395.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-79.002 935.6911255 -709.1604523)">
                    <tspan x="0" y="14.9588">MediaSurfer</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1460.42 359.701-120.58 621.795-34.61 148.884" class="p"/>
                <path d="m1457.37 358.619-.19.985 6.4 1.242.19-.985-6.4-1.242Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274646.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-86.567 848.7338791 -547.8278832)">
                    <tspan x="0" y="14.9588">Bidease</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1352.5 345.836-40.44 632.379m0 0-6.84 152.165" class="p"/>
                <path d="m1349.27 345.128-.07 1.001 6.51.416.06-1.001-6.5-.416Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1344.58" y="1574.49">CPI-сети</tspan>
        </text>
        <g class="root js--root">
            <path d="M1305.22 1130.38v421.84m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h10.54" class="p"/>
            <path d="M1332.69 1571.91c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.63-2.64-2.63-1.45 0-2.63 1.18-2.63 2.63 0 1.46 1.18 2.64 2.63 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--8">
        <g class="legend">
            <a href="https://moe.video/" target="_blank">
                <text class="text " transform="rotate(-61.51 1114.9678332 -1383.0828657)">
                    <tspan x="0" y="14.9588">Moe Video</tspan>
                </text>
            </a>
            <a href="https://punchmedia.ru/" target="_blank">
                <text class="text " transform="rotate(-59.892 1145.0705563 -1446.5077688)">
                    <tspan x="0" y="14.9588">Punch Media Group</tspan>
                </text>
            </a>
            <a href="https://xaprio.com/" target="_blank">
                <text class="text " transform="rotate(-58.51 1175.57098 -1505.8788266)">
                    <tspan x="0" y="14.9588">Xaprio by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m1800.53 272.736-13.32 24.507c7.66 4.173 15.26 8.447 22.79 12.811" stroke="#E40521"/>
                <path d="m1797.84 270.664-.48.881 5.73 3.115.48-.882-5.73-3.114Z" fill="#E40521"/>
                <path d="M1823.96 285.867 1810 310.043" stroke="#E40521"/>
                <path d="m1821.34 283.766-.5.869 5.65 3.26.5-.869-5.65-3.26Z" fill="#E40521"/>
                <path d="m1847.05 299.59-14.59 23.846c-7.42-4.555-14.91-9.019-22.46-13.383" stroke="#E40521"/>
                <path d="m1844.46 297.385-.52.856 5.56 3.403.52-.855-5.56-3.404Z" fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-61.34 1215.408222 -1220.4389543)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1705.39 447.679-302.15 555.641m0 .01c-.18.33-.37.65-.58.97m0 0-86.52 136.69" class="p"/>
                <path d="m1702.71 445.602-.48.882 5.73 3.114.48-.881-5.73-3.115Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315139.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-63.137 1183.9258803 -1159.4827258)">
                    <tspan x="0" y="14.9588">Vox</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1140.99 81.61-139.34m0 0c.16-.28.32-.57.47-.85m0 0 287.91-563.283" class="p"/>
                <path d="m1683.35 435.473-.46.893 5.81 2.967.46-.893-5.81-2.967Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/270401.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-58.467 1275.488465 -1329.8865049)">
                    <tspan x="0" y="14.9588">SlickJump</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1743.11 469.457 1413 1008.92m0 0c-.25.41-.51.81-.8 1.2m-.01 0-96.05 130.89" class="p"/>
                <path d="m1740.54 467.246-.52.856 5.56 3.403.52-.856-5.56-3.403Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305390.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-64.205 1159.2837322 -1119.8252325)">
                    <tspan x="0" y="14.9588">Digital Alliance</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1666.62 427.856-273.68 570.965m0 0L1316.14 1141" class="p"/>
                <path d="m1663.78 425.88-.43.904 5.88 2.818.43-.905-5.88-2.817Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/165927.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-65.441 1134.0112048 -1077.8796473)">
                    <tspan x="0" y="14.9588">Yabbi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141 71.75-144.617m0 0 258.98-577.686" class="p"/>
                <path d="m1644.17 416.993-.41.916 5.95 2.667.41-.915-5.95-2.668Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274730.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-59.806 1245.3399442 -1276.472406)">
                    <tspan x="0" y="14.9588">Redllama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141.01 91.29-133.79m0 0c.24-.35.47-.72.68-1.09m0 0 316.27-547.788" class="p"/>
                <path d="m1721.78 456.209-.5.869 5.65 3.26.5-.869-5.65-3.26Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-72.752 1032.0790612 -873.922217)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1565.7 387.187-198.82 601.441m0 0-50.74 152.382" class="p"/>
                <path d="m1562.74 385.664-.32.953 6.19 2.046.32-.952-6.19-2.047Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-67.185 1107.5878618 -1025.2482269)">
                    <tspan x="0" y="14.9588">СберСеллер</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1626.88 410.05 1382.7 994.256 1316.14 1141" class="p"/>
                <path d="m1623.99 408.244-.39.926 6.02 2.514.38-.926-6.01-2.514Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315135.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-68.518 1083.5595744 -983.5227493)">
                    <tspan x="0" y="14.9588">AstraLab</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1606.68 401.904-229.33 590.647m0 0L1316.14 1141" class="p"/>
                <path d="m1603.81 400.241-.36.935 6.07 2.36.37-.935-6.08-2.36Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274646.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-70.372 1058.852673 -932.1102995)">
                    <tspan x="0" y="14.9588">Bidease</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1316.14 1141 56.07-150.676m0 0 214.08-596.044" class="p"/>
                <path d="m1583.49 392.807-.34.944 6.14 2.205.34-.944-6.14-2.205Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1440.48" y="1504.05">Premium Networks</tspan>
        </text>
        <g class="root js--root">
            <path d="M1316.14 1141.01c-.58 1.74-.87 3.56-.87 5.39m0 0v335.54m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h97.34"
                  class="p"/>
            <path d="M1429.53 1501.65c1.46 0 2.64-1.18 2.64-2.64 0-1.46-1.18-2.64-2.64-2.64-1.46 0-2.64 1.18-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--9">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/278068.phtml" target="_blank">
                <text class="text js--company" transform="rotate(-46.871 1584.315278 -1893.3977373)">
                    <tspan x="0" y="14.9588">Ttarget</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1881.42 574.881-433.3 461.879-119.84 115.79" class="p"/>
                <path d="m1879.38 572.301-.68.731 4.75 4.461.69-.731-4.76-4.461Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-54.37 1373.948176 -1505.5617325)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1797.47 505.652 1426.58 1018.9l-98.3 133.65" class="p"/>
                <path d="m1795.18 503.425-.59.813 5.28 3.82.59-.813-5.28-3.82Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/97081.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-51.175 1453.7619037 -1655.1052909)">
                    <tspan x="0" y="14.9588">Buzzoola (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1832.1 532.055-396.69 493.735-107.13 126.76" class="p"/>
                <path d="m1829.86 529.593-.62.782 5.08 4.084.63-.782-5.09-4.084Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text  js--company" transform="rotate(-49.768 1494.8894206 -1728.8719151)">
                    <tspan x="0" y="14.9588">Mediadesk</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1848.91 545.909 1439.69 1029.4l-111.41 123.15" class="p"/>
                <path d="m1846.79 543.516-.65.766 4.98 4.213.64-.766-4.97-4.213Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/320715.phtml" target="_blank">
                <text class="text js--company" transform="rotate(-44.135 1683.5300166 -2067.9213274)">
                    <tspan x="0" y="14.9588">One Target</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1912.41 605.477-455.96 438.813c-.28.26-.55.51-.83.75l-127.33 107.5" class="p"/>
                <path d="m1910.46 602.666-.72.696 4.52 4.698.73-.695-4.53-4.699Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/270401.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-52.597 1414.1741203 -1585.3106455)">
                    <tspan x="0" y="14.9588">SlickJump</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1814.96 518.633-383.91 503.627-102.77 130.29" class="p"/>
                <path d="m1812.74 516.377-.61.798 5.18 3.953.61-.798-5.18-3.953Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274722.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-45.337 1636.0130853 -1987.4968272)">
                    <tspan x="0" y="14.9588">Одноклассники</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1897.11 589.978-444.79 450.502c-.23.23-.46.46-.7.67l-123.33 111.39" class="p"/>
                <path d="m1895.15 587.369-.7.714 4.64 4.582.7-.714-4.64-4.582Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305397.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-48.686 1532.9421655 -1790.1295241)">
                    <tspan x="0" y="14.9588">Natiscope</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1865.35 560.184-421.49 472.946-115.58 119.42" class="p"/>
                <path d="m1863.25 557.649-.67.749 4.87 4.339.67-.749-4.87-4.339Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-54.795 1348.8819019 -1477.5642532)">
                    <tspan x="0" y="14.9588">РСЯ</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1779.66 493.122-357.75 522.658m0 0-93.64 136.76" class="p"/>
                <path d="m1777.24 490.865-.57.828 5.38 3.683.57-.828-5.38-3.683Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1592.18" y="1443.36">Сети нативной видеорекламы</tspan>
        </text>
        <g class="root js--root">
            <path d="M1328.27 1152.54c-1.95 2.83-2.98 6.2-2.98 9.64m0 0v259.54m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h237.88"
                  class="p"/>
            <path d="M1580.1 1441.42c1.45 0 2.63-1.18 2.63-2.64 0-1.46-1.18-2.64-2.63-2.64-1.46 0-2.64 1.18-2.64 2.64 0 1.46 1.18 2.64 2.64 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--10">
        <g class="legend">
            <a href="https://digitalbudget.ru" target="_blank">
                <text class="text " transform="rotate(-33.74 2040.1767779 -3410.9602283)">
                    <tspan x="0" y="14.9588">Digital Budget</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m2209.83 589.577 22.96-14.797" stroke="#E40521"/>
                <path d="m2208.49 586.586-.84.543 3.53 5.483.84-.543-3.53-5.483Zm22.92-14.97-.85.543 3.53 5.482.85-.543-3.53-5.482Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/120644.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-27.88 2608.3954684 -3757.305772)">
                    <tspan x="0" y="14.9588">Segmento (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2052.25 798.989-559.86 295.241-151.75 70.89" class="p"/>
                <path d="m2051.18 796.032-.89.468 3.04 5.768.89-.468-3.04-5.768Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315137.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-29.112 2496.6380484 -3562.0761212)">
                    <tspan x="0" y="14.9588">Dialog.X5</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M2041.85 779.858 1489.37 1089.5l-148.73 75.62" class="p"/>
                <path d="m2040.69 776.711-.88.491 3.19 5.688.88-.491-3.19-5.688Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299296.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-30.704 2376.7863378 -3339.4883572)">
                    <tspan x="0" y="14.9588">AmberData</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2030.96 760.999-544.44 323.671-145.88 80.45" class="p"/>
                <path d="m2029.72 757.892-.87.512 3.34 5.605.86-.512-3.33-5.605Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-39.693 1863.3595162 -2396.4102376)">
                    <tspan x="0" y="14.9588">Weborama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1955.86 654.231 1467.4 1057.06l-126.76 108.06" class="p"/>
                <path d="m1954.19 651.466-.77.639 4.15 5.03.77-.638-4.15-5.031Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/170340.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-38.081 1934.4530538 -2532.2031379)">
                    <tspan x="0" y="14.9588">Scanners</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1969.5 671.215-498.73 390.325-130.13 103.58" class="p"/>
                <path d="m1967.92 668.474-.79.619 4.02 5.134.79-.618-4.02-5.135Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274627.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-32.796 2247.9061751 -3079.0825753)">
                    <tspan x="0" y="14.9588">Aidata</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2019.58 742.43-535.98 337.46-142.96 85.23" class="p"/>
                <path d="m2018.26 739.326-.85.534 3.48 5.518.85-.534-3.48-5.518Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://www.soloway.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-33.584 2179.2282543 -2981.3343976)">
                    <tspan x="0" y="14.9588">Soloway</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M2007.76 724.152 1480.5 1075.23l-139.86 89.89" class="p"/>
                <path d="m2006.37 721.116-.84.556 3.62 5.427.83-.556-3.61-5.427Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://platformaofd.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-35.307 2085.0734106 -2797.932712)">
                    <tspan x="0" y="14.9588">Platforma</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1995.45 706.175-517.91 364.295-136.9 94.65" class="p"/>
                <path d="m1994 703.374-.82.577 3.75 5.333.83-.577-3.76-5.333Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-40.92 1804.354358 -2296.4209416)">
                    <tspan x="0" y="14.9588">Яндекс Аудитории</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1941.79 637.619 1463.76 1052.8m0 0-122.88 112.29" class="p"/>
                <path d="m1940.05 634.889-.75.658 4.27 4.923.76-.657-4.28-4.924Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-36.432 2015.4758323 -2684.70391)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1982.7 688.529-508.42 377.381-133.64 99.21" class="p"/>
                <path d="m1981.14 685.51-.81.598 3.89 5.236.8-.598-3.88-5.236Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1735.06" y="1393.18">Поставщики больших данных</tspan>
        </text>
        <g class="root js--root">
            <path d="M1340.88 1165.09c-3.54 3.23-5.55 7.8-5.55 12.59m0 0v193.84m0 0c0 9.42 7.64 17.06 17.07 17.06m0 0h369.73"
                  class="p"/>
            <path d="M1722 1391.23c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.64-2.64-2.64-1.45 0-2.63 1.19-2.63 2.64 0 1.46 1.18 2.64 2.63 2.64Z"
                  class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--11">
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/170340.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-21.787 3295.4629638 -5019.3449938)"><tspan x="0" y="14.9588">Scanners</tspan> </text>
            </a>
            <g class="line">
                <path d="m2088.87 877.979-587.4 236.751-146.92 63.92" class="p"/>
                <path d="m2088.1 874.932-.93.375 2.44 6.047.93-.375-2.44-6.047Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://www.soloway.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-23.634 3060.6985042 -4571.0342357)"><tspan x="0" y="14.9588">Soloway</tspan> </text>
            </a>
            <g class="line">
                <path d="m2080.48 859.885-581.17 251.675-144.76 69.09" class="p"/>
                <path d="m2079.64 856.729-.92.398 2.59 5.984.92-.399-2.59-5.983Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-24.713 2921.6370661 -4335.8938486)"><tspan x="0" y="14.9588">Weborama</tspan> </text>
            </a>
            <g class="line">
                <path d="m2071.57 838.012-574.6 266.448m0 0-142.41 74.18" class="p"/>
                <path d="m2070.65 834.799-.91.422 2.75 5.916.91-.422-2.75-5.916Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299296.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-20.311 3523.1159022 -5439.4475453)"><tspan x="0" y="14.9588">AmberData</tspan> </text>
            </a>
            <g class="line">
                <path d="m2096.76 898.273-593.13 221.617-149.08 58.76" class="p"/>
                <path d="m2096.09 894.99-.94.352 2.29 6.108.94-.351-2.29-6.109Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-19.243 3729.1890097 -5783.0816529)"><tspan x="0" y="14.9588">VK</tspan> </text>
            </a>
            <g class="line">
                <path d="m2104.11 918.768-598.7 206.442-150.86 53.44" class="p"/>
                <path d="m2103.5 915.619-.95.327 2.13 6.165.95-.327-2.13-6.165Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/284708.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-17.91 4000.3810111 -6266.9342238)"><tspan x="0" y="14.9588">MTC Ads</tspan> </text>
            </a>
            <g class="line">
                <path d="m2110.95 939.442-603.62 191.038-152.78 48.17" class="p"/>
                <path d="m2110.45 936.187-.96.303 1.97 6.217.96-.303-1.97-6.217Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296875.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-14.68 4824.5074037 -7799.9767631)"><tspan x="0" y="14.9588">Genius Group / Cobrazz</tspan> </text>
            </a>
            <g class="line">
                <path d="m2123.02 981.285-612.69 159.985-155.78 37.38" class="p"/>
                <path d="m2122.72 977.865-.97.254 1.65 6.308.97-.253-1.65-6.309Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274627.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-16.23 4386.8173289 -6989.294705)"><tspan x="0" y="14.9588">Aidata</tspan> </text>
            </a>
            <g class="line">
                <path d="m2117.25 960.289-608.29 175.541-154.41 42.82" class="p"/>
                <path d="m2116.88 956.834-.97.278 1.81 6.265.96-.278-1.8-6.265Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315138.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-13.427 5272.6445412 -8592.2915032)"><tspan x="0" y="14.9588">First Data</tspan> </text>
            </a>
            <g class="line">
                <path d="m2128.26 1002.42-616.43 144.25-157.28 31.98" class="p"/>
                <path d="m2128.04 999.041-.98.228 1.49 6.351.97-.23-1.48-6.349Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117630.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-12.088 5846.6032068 -9619.5051056)"><tspan x="0" y="14.9588">Flocktory</tspan> </text>
            </a>
            <g class="line">
                <path d="m2132.95 1023.69-620.07 128.49-158.33 26.47" class="p"/>
                <path d="m2132.71 1020.61-.99.2 1.33 6.39.98-.2-1.32-6.39Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <a href="https://mediadesk.digital/ru " target="_blank">
                <text class="text " transform="rotate(-20.384 3375.1614418 -6166.531597)"><tspan x="0" y="14.9588">Mediadesk</tspan> </text>
            </a>
            <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank">
                <text class="text " transform="rotate(-17.912 3867.5270118 -7126.277657)"><tspan x="0" y="14.9588">СберСеллер</tspan> </text>
            </a>
            <a href="https://programmatica.com/" target="_blank">
                <text class="text " transform="rotate(-19.469 3562.3727762 -6499.3689072)"><tspan x="0" y="14.9588">Programmatica.com</tspan> </text>
            </a>
            <g class="legend_mark">
                <path d="m2368.98 858.126-26.64 8.808c-5.64-17.907-11.75-35.623-18.28-53.128l26.01-10.022" stroke="#E40521"/>
                <path d="m2368.4 855.092-.95.315 2.04 6.191.96-.315-2.05-6.191Zm-19.02-54.762-.93.361 2.34 6.085.94-.361-2.35-6.085Z" fill="#E40521"/>
                <path d="m2359.84 830.729-26.48 9.189" stroke="#E40521"/>
                <path d="m2359.27 827.245-.95.329 2.14 6.16.95-.328-2.14-6.161Z" fill="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root"><tspan x="1876.91" y="1354.69">Управление данными (DMP)</tspan></text>
        <g class="root js--root">
            <path d="M1354.56 1178.64c-5.63 2.94-9.18 8.77-9.18 15.13m0 0v137.6m0 0c0 9.42 7.64 17.07 17.07 17.07m0 0h501.87" class="p"/>
            <path d="M1864.18 1351.07c1.46 0 2.64-1.18 2.64-2.63 0-1.46-1.18-2.64-2.64-2.64-1.45 0-2.63 1.18-2.63 2.64 0 1.45 1.18 2.63 2.63 2.63Z" class="e"/>
        </g>
    </g>
    <g class="svg_content svg_content--12">
        <g class="company js--company">
            <a href="https://mediahills.ru/" target="_blank">
                <text class="text  js--company"><tspan x="2163.61" y="1202.07">MediaHills</tspan> </text>
            </a>
            <g class="line">
                <path d="M2150.69 1196.69h-782.52" class="p"/>
                <path d="M2151.19 1193.43h-1v6.52h1v-6.52Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296877.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-1.807 38038.0132112 -68024.2743425)"><tspan x="0" y="14.9588">MyTracker</tspan> </text>
            </a>
            <g class="line">
                <path d="m2150.41 1174.92-632.96 16.17-149.28 5.6" class="p"/>
                <path d="m2150.74 1171.79-1 .02.16 6.52 1.01-.02-.17-6.52Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/296870.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-5.72 12075.7747034 -21063.3190438)"><tspan x="0" y="14.9588">Admon.ai</tspan> </text>
            </a>
            <g class="line">
                <path d="m2146.24 1109.73-629.86 64.58-148.21 22.38" class="p"/>
                <path d="m2146.3 1106.63-.99.11.66 6.48 1-.1-.67-6.49Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adserving.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-4.787 14489.1994338 -25293.180671)"><tspan x="0" y="14.9588">Adserving</tspan> </text>
            </a>
            <g class="line">
                <path d="M2148.18 1131.42 1517 1179.88l-148.83 16.81" class="p"/>
                <path d="m2148.44 1128.11-1 .08.5 6.5 1-.07-.5-6.51Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/284766.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-3.028 22703.8636384 -40354.1714574)"><tspan x="0" y="14.9588">Adloox</tspan> </text>
            </a>
            <g class="line">
                <path d="m2149.58 1153.16-632.34 32.32-149.07 11.21" class="p"/>
                <path d="m2149.94 1149.83-1 .05.33 6.51 1.01-.05-.34-6.51Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adriver.ru/ " target="_blank">
                <text class="text  js--company" transform="rotate(-8.006 8773.377072 -14871.610926)"><tspan x="0" y="14.9588">AdRiver</tspan> </text>
            </a>
            <g class="line">
                <path d="m2143.74 1089.1-627.58 80.59c-.33.04-.67.1-1 .16l-146.99 27.85" class="p"/>
                <path d="m2143.74 1085.99-.99.12.83 6.47.99-.13-.83-6.46Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-8.933 7832.4702785 -13253.6214634)"><tspan x="0" y="14.9588">Weborama</tspan> </text>
            </a>
            <g class="line">
                <path d="m2140.7 1066.54-625.09 96.56m0 0c-.39.06-.78.13-1.17.22m0 0-146.26 33.22" class="p"/>
                <path d="m2140.69 1063.27-.99.15.99 6.44.99-.15-.99-6.44Z" class="e"/>
            </g>
        </g>
        <g class="legend">
            <a href="https://digitalbudget.ru" target="_blank">
                <text class="text " transform="rotate(-4.267 15975.4221676 -32065.3482874)"><tspan x="0" y="14.9588">Digital Budget</tspan> </text>
            </a>
            <g class="legend_mark">
                <path d="m2417.94 1107.3-1 .08.49 6.5 1-.08-.49-6.5Zm-27.56 2.1-1 .07.49 6.5 1-.07-.49-6.5Z" fill="#E40521"/>
                <path d="m2417.66 1110.63-27.53 2.05" stroke="#E40521"/>
            </g>
        </g>
        <text class="root_title js--root"><tspan x="2017.87" y="1322.78">Верификация</tspan></text>
        <g class="root js--root">
            <path d="M1368.18 1196.54c-7.52 1.95-12.75 8.18-12.75 15.95m0 0v88.78m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h634.02" class="p"/>
            <path d="M2006.36 1320.96c1.46 0 2.64-1.18 2.64-2.64 0-1.46-1.18-2.64-2.64-2.64-1.45 0-2.64 1.18-2.64 2.64 0 1.46 1.19 2.64 2.64 2.64Z" class="e"/>
        </g>
    </g>

</svg>
