<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--7">
        <g class="legend">
            <a href="https://xerxes.media/" target="_blank">
                <text class="text " transform="rotate(-76.137 875.9442216 -907.3876536)">
                    <tspan x="0" y="14.9588">Xerxes by Xapads</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m1550.79 175.769-6.57 26.554" stroke="#E40521"/>
                <path d="m1547.82 174.544-.25.974 6.33 1.567.24-.974-6.32-1.567Zm-6.66 26.505-.24.974 6.33 1.567.24-.974-6.33-1.567Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/117609.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-74.605 994.1145746 -817.249054)">
                    <tspan x="0" y="14.9588">AdSup</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1524.02 374.577-167.63 610.008c-.1.382-.22.763-.35 1.134l-50.81 144.661" class="p"/>
                <path d="m1521.05 373.269-.26.967 6.28 1.728.27-.967-6.29-1.728Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/list/catalogue2/64312/101452.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-76.132 974.4427817 -779.2439179)">
                    <tspan x="0" y="14.9588">WakeApp</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1502.95 369.08-152.01 614.131c-.08.321-.17.642-.27.963l-45.44 146.206" class="p"/>
                <path d="m1499.98 367.851-.24.973 6.33 1.568.24-.974-6.33-1.567Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315136.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-83.488 881.7411746 -610.067622)">
                    <tspan x="0" y="14.9588">Xiaomi</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1395.87 349.729-72.63 629.118-18.01 151.533" class="p"/>
                <path d="m1392.65 348.831-.12.996 6.48.748.11-.997-6.47-.747Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://ads.huawei.com/" target="_blank">
                <text class="text  js--company" transform="rotate(-82.133 899.144397 -639.8586383)">
                    <tspan x="0" y="14.9588">Huawei Ads</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1417.47 352.497-88.66 626.982-23.58 150.901" class="p"/>
                <path d="m1414.34 351.558-.14.993 6.45.913.15-.993-6.46-.913Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/307496.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-85.032 865.1234714 -578.9136932)">
                    <tspan x="0" y="14.9588">Go Tech (ex Go NET)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1374.21 347.502-56.53 630.703-12.45 152.175" class="p"/>
                <path d="m1371.01 346.714-.09 1 6.5.582.09-1-6.5-.582Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305396.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-78.214 952.5700016 -732.9777555)">
                    <tspan x="0" y="14.9588">Mobupps</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1481.74 364.114-136.39 618.315-40.12 147.951" class="p"/>
                <path d="m1478.63 362.894-.21.98 6.37 1.405.21-.98-6.37-1.405Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://mobidriven.com/" target="_blank">
                <text class="text  js--company" transform="rotate(-80.551 917.464867 -674.2430479)">
                    <tspan x="0" y="14.9588">Mobidriven</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1438.99 355.828-104.65 624.564-29.11 149.988" class="p"/>
                <path d="m1435.79 354.743-.17.99 6.43 1.077.17-.99-6.43-1.077Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/305395.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-79.002 935.6911255 -709.1604523)">
                    <tspan x="0" y="14.9588">MediaSurfer</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1460.42 359.701-120.58 621.795-34.61 148.884" class="p"/>
                <path d="m1457.37 358.619-.19.985 6.4 1.242.19-.985-6.4-1.242Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274646.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-86.567 848.7338791 -547.8278832)">
                    <tspan x="0" y="14.9588">Bidease</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1352.5 345.836-40.44 632.379m0 0-6.84 152.165" class="p"/>
                <path d="m1349.27 345.128-.07 1.001 6.51.416.06-1.001-6.5-.416Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1344.58" y="1574.49">CPI-сети</tspan>
        </text>
        <g class="root js--root">
            <path d="M1305.22 1130.38v421.84m0 0c0 9.42 7.63 17.06 17.06 17.06m0 0h10.54" class="p"/>
            <path d="M1332.69 1571.91c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.63-2.64-2.63-1.45 0-2.63 1.18-2.63 2.63 0 1.46 1.18 2.64 2.63 2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
