<svg class="svg_layer" viewBox="0 0 2600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="svg_content svg_content--10">
        <g class="legend">
            <a href="https://digitalbudget.ru" target="_blank">
                <text class="text " transform="rotate(-33.74 2040.1767779 -3410.9602283)">
                    <tspan x="0" y="14.9588">Digital Budget</tspan>
                </text>
            </a>
            <g class="legend_mark">
                <path d="m2209.83 589.577 22.96-14.797" stroke="#E40521"/>
                <path d="m2208.49 586.586-.84.543 3.53 5.483.84-.543-3.53-5.483Zm22.92-14.97-.85.543 3.53 5.482.85-.543-3.53-5.482Z"
                      fill="#E40521"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/120644.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-27.88 2608.3954684 -3757.305772)">
                    <tspan x="0" y="14.9588">Segmento (MTC Ads)</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2052.25 798.989-559.86 295.241-151.75 70.89" class="p"/>
                <path d="m2051.18 796.032-.89.468 3.04 5.768.89-.468-3.04-5.768Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/315137.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-29.112 2496.6380484 -3562.0761212)">
                    <tspan x="0" y="14.9588">Dialog.X5</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M2041.85 779.858 1489.37 1089.5l-148.73 75.62" class="p"/>
                <path d="m2040.69 776.711-.88.491 3.19 5.688.88-.491-3.19-5.688Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299296.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-30.704 2376.7863378 -3339.4883572)">
                    <tspan x="0" y="14.9588">AmberData</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2030.96 760.999-544.44 323.671-145.88 80.45" class="p"/>
                <path d="m2029.72 757.892-.87.512 3.34 5.605.86-.512-3.33-5.605Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/99759.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-39.693 1863.3595162 -2396.4102376)">
                    <tspan x="0" y="14.9588">Weborama</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1955.86 654.231 1467.4 1057.06l-126.76 108.06" class="p"/>
                <path d="m1954.19 651.466-.77.639 4.15 5.03.77-.638-4.15-5.031Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/170340.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-38.081 1934.4530538 -2532.2031379)">
                    <tspan x="0" y="14.9588">Scanners</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1969.5 671.215-498.73 390.325-130.13 103.58" class="p"/>
                <path d="m1967.92 668.474-.79.619 4.02 5.134.79-.618-4.02-5.135Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/274627.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-32.796 2247.9061751 -3079.0825753)">
                    <tspan x="0" y="14.9588">Aidata</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m2019.58 742.43-535.98 337.46-142.96 85.23" class="p"/>
                <path d="m2018.26 739.326-.85.534 3.48 5.518.85-.534-3.48-5.518Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://www.soloway.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-33.584 2179.2282543 -2981.3343976)">
                    <tspan x="0" y="14.9588">Soloway</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M2007.76 724.152 1480.5 1075.23l-139.86 89.89" class="p"/>
                <path d="m2006.37 721.116-.84.556 3.62 5.427.83-.556-3.61-5.427Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://platformaofd.ru/" target="_blank">
                <text class="text  js--company" transform="rotate(-35.307 2085.0734106 -2797.932712)">
                    <tspan x="0" y="14.9588">Platforma</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1995.45 706.175-517.91 364.295-136.9 94.65" class="p"/>
                <path d="m1994 703.374-.82.577 3.75 5.333.83-.577-3.76-5.333Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/117671.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-40.92 1804.354358 -2296.4209416)">
                    <tspan x="0" y="14.9588">Яндекс Аудитории</tspan>
                </text>
            </a>
            <g class="line">
                <path d="M1941.79 637.619 1463.76 1052.8m0 0-122.88 112.29" class="p"/>
                <path d="m1940.05 634.889-.75.658 4.27 4.923.76-.657-4.28-4.924Z" class="e"/>
            </g>
        </g>
        <g class="company js--company">
            <a href="https://adindex.ru/catalogue/companies/299857.phtml" target="_blank">
                <text class="text  js--company" transform="rotate(-36.432 2015.4758323 -2684.70391)">
                    <tspan x="0" y="14.9588">VK</tspan>
                </text>
            </a>
            <g class="line">
                <path d="m1982.7 688.529-508.42 377.381-133.64 99.21" class="p"/>
                <path d="m1981.14 685.51-.81.598 3.89 5.236.8-.598-3.88-5.236Z" class="e"/>
            </g>
        </g>
        <text class="root_title js--root">
            <tspan x="1735.06" y="1393.18">Поставщики больших данных</tspan>
        </text>
        <g class="root js--root">
            <path d="M1340.88 1165.09c-3.54 3.23-5.55 7.8-5.55 12.59m0 0v193.84m0 0c0 9.42 7.64 17.06 17.07 17.06m0 0h369.73"
                  class="p"/>
            <path d="M1722 1391.23c1.46 0 2.64-1.18 2.64-2.64 0-1.45-1.18-2.64-2.64-2.64-1.45 0-2.63 1.19-2.63 2.64 0 1.46 1.18 2.64 2.63 2.64Z"
                  class="e"/>
        </g>
    </g>
</svg>
