.scheme{
  position: relative;

  top: calc(80px + var(--size));
  min-height: calc(100vh - 20px - 20vw);

  text-rendering: optimizeSpeed;
  user-select: none;
  pointer-events: none;

  font-family: CeraPro, sans-serif;

  z-index: 1;

  @media screen and (orientation: portrait) {
    top: calc(20px + var(--size));
  }
}

.svg_layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
  user-select: none;
}

.svg_content{

  &--1{
    --color: #B2AF9B;
  }
  &--2{
    --color: #B8A4AF;
  }
  &--3{
    --color: #A6B3BB;
  }
  &--4{
    --color: #BDBCBC;
  }
  &--5{
    --color: #C6C2A5;
  }
  &--6{
    --color: #BDB5DA;
  }
  &--7{
    --color: #98D1CB;
  }
  &--8{
    --color: #AEC2CE;
  }
  &--9{
    --color: #C4BAC0;
  }
  &--10{
    --color: #A2C3D6;
  }
  &--11{
    --color: #D0CEBC;
  }
  &--12{
    --color: #A8A8A7;
  }

}

.text{
  fill:#0E4A7D;
  white-space: pre;
  font-size:16.1px;
  letter-spacing:-0.002em;
}

.number{
  font-family: CeraPro, sans-serif;
  font-size: 10px;
  letter-spacing: 0;
}

.number_title{
  font-family: CeraPro, sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .1em;
}

.root_title{
  fill:#0E4A7D;
  white-space: pre;
  font-family: CeraPro, sans-serif;
  font-size:17.1px;
  letter-spacing:0.002em;
}



.p{
  stroke: var(--color);
}

.e{
  fill: var(--color);
}

.root, .root_title, .text{
  pointer-events: auto;
  cursor: pointer;
}


.active_section .p, .active_company .root .p, .active_company .company.active .p{
  stroke: #0E4A7D;
}

.active_section .e, .active_company .root .e, .active_company .company.active .e{
  fill: #0E4A7D;
}

.active_section .company .text{
  // fill: red;
  font-weight: 600;
}

.active_company .company.active .text{
  //fill: red;
  font-weight: 600;
}

.active_section .root_title, .active_company .root_title{
  //fill: red;
  font-weight: 600;
}



