<!DOCTYPE html>

{% from "component/head/head.njk" import head as head %}

{{ head() }}

<body>

<div class="root js--zoom_zone">
{#    <div class="zoom_shade "></div>#}

    <div class="social js--social">
        <div class="partner_list">
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО РА Индекс 20</p>
                        <p><span>ИНН: </span>7725847502</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://adindex.ru/catalogue/companies/311732.phtml" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_16.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Битвин Эксчейндж</p>
                        <p><span>ИНН: </span>7743139485</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://betweenx.ru/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_13.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Сфера</p>
                        <p><span>ИНН: </span>7813269850</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://centra.ai/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_12.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО ПРАЙОРИТИ</p>
                        <p><span>ИНН: </span>7709950453</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://mobidriven.com/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_08.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Сейлз Чемпионс</p>
                        <p><span>ИНН: </span>7725357579</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://programmatica.com/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_07.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО СОЛТА</p>
                        <p><span>ИНН: </span>7734460413</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://solta.io/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_04.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>

                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Юником24</p>
                        <p><span>ИНН: </span>9705131016</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://unicom-digital.ru/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_03.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Западс Медиа</p>
                        <p><span>ИНН: </span>718178759</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://xaprio.com/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_02.svg' %}
                    </a>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle"></button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                <div class="partner__info">
                    <p class="partner__info__token">testtoken</p>
                    <div class="partner__info__about">
                        <p>О рекламодателе: </p>
                        <p>ООО Западс Медиа</p>
                        <p><span>ИНН: </span>718178759</p>
                    </div>
                </div>
                <div class="partner__content">
                    <a href="https://xerxes.media/" target="_blank" class="partner__logo">
                        {% include 'assets/icon/logo_01.svg' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="partner_list partner_list--bottom partner_list--small">
            <div class="partner_list__group">
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО Адривер</p>
                            <p><span>ИНН: </span>7813378916</p>
                        </div>
                    </div>
                    <a href="https://adriver.ru/" target="_blank" class="partner__content">
                        <div class="partner__logo">
                            {% include 'assets/icon/logo_15.svg' %}
                        </div>
                    </a>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО Эдспенд</p>
                            <p><span>ИНН: </span>7703478474</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://adspend.ru/ " target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_14.svg' %}
                        </a>
                    </div>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ИП Степанов</p>
                            <p><span>ИНН: </span>323408007697</p>
                        </div>
                    </div>
                    <a href="https://digitalbudget.ru" target="_blank" class="partner__content">
                        <div  class="partner__logo">
                            {% include 'assets/icon/logo_11.svg' %}
                        </div>
                    </a>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО МЕДИАДЕСК</p>
                            <p><span>ИНН: </span>9703004044</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://mediadesk.digital/ru " target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_10.svg' %}
                        </a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="partner_list__group">
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО Чистый код</p>
                            <p><span>ИНН: </span>7813226310</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://moe.video/" target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_17.svg' %}
                        </a>
                    </div>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО Таргет</p>
                            <p><span>ИНН: </span>9701082520</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://mediatoday.ru/" target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_09.svg' %}
                        </a>
                    </div>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО ПАНЧ МЕДИА ГРУПП</p>
                            <p><span>ИНН: </span>5036112370</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://punchmedia.ru/" target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_06.svg' %}
                        </a>
                    </div>
                </div>
                <div class="partner">
                    <button class="partner__btn js--partner-modal-toggle"></button>
                    <button class="partner__btn js--partner-modal-toggle partner__btn--close"></button>
                    <div class="partner__info">
                        <p class="partner__info__token">testtoken</p>
                        <div class="partner__info__about">
                            <p>О рекламодателе: </p>
                            <p>ООО Адривер </p>
                            <p><span>ИНН: </span>7813378916</p>
                        </div>
                    </div>
                    <div class="partner__content">
                        <a href="https://www.soloway.ru/" target="_blank" class="partner__logo">
                            {% include 'assets/icon/logo_05.svg' %}
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scheme js--scheme">
{#        {% include 'component/svg_scheme/layer_bg.njk' %}#}
        <div class="scheme__bg js--scheme_bg"></div>
{#        {% include 'component/svg_scheme/layer_1.njk' %}#}
{#        {% include 'component/svg_scheme/layer_2.njk' %}#}
{#        {% include 'component/svg_scheme/layer_3.njk' %}#}
{#        {% include 'component/svg_scheme/layer_4.njk' %}#}
{#        {% include 'component/svg_scheme/layer_5.njk' %}#}
{#        {% include 'component/svg_scheme/layer_6.njk' %}#}
{#        {% include 'component/svg_scheme/layer_7.njk' %}#}
{#        {% include 'component/svg_scheme/layer_8.njk' %}#}
{#        {% include 'component/svg_scheme/layer_9.njk' %}#}
{#        {% include 'component/svg_scheme/layer_10.njk' %}#}
{#        {% include 'component/svg_scheme/layer_11.njk' %}#}
{#        {% include 'component/svg_scheme/layer_12.njk' %}#}
        {% include 'component/svg_scheme/layer_united.njk' %}

{#        {% include 'component/svg_scheme/layer_number.njk' %}#}
{#        {% include 'component/svg_scheme/layer_legend.njk' %}#}
        {% include 'component/svg_scheme/layer_zoom.njk' %}
    </div>

    <div class="zoom_shade__control">
        <button class="zoom_shade__btn js--scale-up">{% include 'assets/icon-lib/ui/plus.svg' %}</button>
        <button class="zoom_shade__btn js--scale-down">{% include 'assets/icon-lib/ui/minus.svg' %}</button>
    </div>

    <div class="js--log" style="position: fixed; top: 0; left: 0; z-index: 10; color: black"></div>
</div>

</body>
<script src="/js/App.js"></script>
