<!DOCTYPE html>

{% from "component/head/head.njk" import head as head %}

{{ head() }}

<body>

<div class="content">
    <div class="partner_list">
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {%  include 'assets/icon/logo_16.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_13.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_12.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_08.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_07.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_04.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_03.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_02.svg' %}
                </div>
            </div>
        </div>
        <div class="partner">
            <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                <div class="partner__logo">
                    {% include 'assets/icon/logo_01.svg' %}
                </div>
            </div>
        </div>
    </div>
    <div class="scheme">
        <div class="scheme_wrapper js--scheme">
            {% include 'component/svg_scheme/layer_bg.njk' %}
            {% include 'component/svg_scheme/layer_1.njk' %}
            {% include 'component/svg_scheme/layer_2.njk' %}
            {% include 'component/svg_scheme/layer_3.njk' %}
            {% include 'component/svg_scheme/layer_4.njk' %}
            {% include 'component/svg_scheme/layer_5.njk' %}
            {% include 'component/svg_scheme/layer_6.njk' %}
            {% include 'component/svg_scheme/layer_7.njk' %}
            {% include 'component/svg_scheme/layer_8.njk' %}
            {% include 'component/svg_scheme/layer_9.njk' %}
            {% include 'component/svg_scheme/layer_10.njk' %}
            {% include 'component/svg_scheme/layer_11.njk' %}
            {% include 'component/svg_scheme/layer_12.njk' %}
            {% include 'component/svg_scheme/layer_number.njk' %}
            {% include 'component/svg_scheme/layer_legend.njk' %}
            {% include 'component/svg_scheme/layer_zoom.njk' %}
        </div>
    </div>
    <div class="partner_list partner_list--bottom partner_list--small">
        <div class="partner_list__group">
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {%  include 'assets/icon/logo_15.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {%  include 'assets/icon/logo_14.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_11.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_10.svg' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="partner_list__group">
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_17.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_09.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_06.svg' %}
                    </div>
                </div>
            </div>
            <div class="partner">
                <button class="partner__btn js--partner-modal-toggle">{% include 'assets/icon/open.svg' %}</button>
                <button class="partner__btn js--partner-modal-toggle partner__btn--close">{% include 'assets/icon-lib/ui/menu-close.svg' %}</button>
                <div class="partner__content">
                    <div class="partner__logo">
                        {% include 'assets/icon/logo_05.svg' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="/js/App.js"></script>
