<div class="modal" id="contact">
    <div class="modal__content" >
        <button class="modal__btn_close js--modal" data-modal='contact'>
             {#  <i class="icon icon--left ">{% include 'assets/img/close.svg' %}</i>#}
        </button>
    </div>
</div>
