{% macro head(name = 'index') %}
    <head>
        <title>{{ name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
{% endmacro %}
